<section>
  <div class="relative max-w-[1440px] min-h-screen flex justify-center mx-auto py-16" x-data="parallax()" x-bind="root">
    <div class="absolute inset-0">
      <img
        class="h-full w-full object-cover object-center"
        src="{{ module.background.src }}"
        loading="lazy"
      />
    </div>
    <div class="relative flex flex-col items-center justify-center sm:p-8">
      <h1 class="text-white text-6xl font-gtcond font-black text-center mb-16" x-bind="animate(24)">
        {{ module.title }}
      </h1>

      <div class="lg:w-3/4 flex sm:flex-col justify-between">
        {% for item in module.group %}
          <div class="flex lg:flex-1 flex-col items-center mb-16">
            {% if item.image.src %}
             {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img class="h-28 mb-8" src="{{ item.image.src }}" x-bind="animate(8)" alt="{{ item.image.alt }}" {{ loadingAttr }} />
            {% endif %}
            <div class="w-2/3 text-2xl text-white font-gtcond font-black text-center">
              {{ item.group_name }}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="text-white lg:w-3/4 text-center mb-8">
        {{ module.description }}
      </div>
    </div>
  </div>
</section>