<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{# en, zh-cn, id, vn #}
{% set locale = {
	members_portal: {
		global: {
			'Fan': 'Fan'	,
			'Super Fan': 'Super Fan',
			'Ultimate Fan': 'Ultimate Fan',
			z_points: 'Z Points',
			menu: 'Menu',
			dashboard: 'Dashboard',
			membership: 'Membership',
			rewards: 'Rewards',
			loyalty: 'ZujuGP Loyalty',
			how_loyalty_work: 'How do loyalty Z Points work?',
			tier_benefit: 'Your Tiering & Benefits',
			logout: 'Logout'
		}
	}
} %}
