.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6 {
  font-family: "GT America Condensed", sans-serif;
	font-weight: 900 !important;
	margin-bottom: 2rem;
	margin-top: 0;
}

.app .hs-button {
	font-family: "GT America Condensed", sans-serif;
	font-weight: bold
}

.app html {
  font-size: 100%;
} /*16px*/

.app p {
  margin-bottom: 1rem;
}

.app a {
	text-decoration: underline;
	color: var(--clr-primary)
}

.app h1 {
  font-size: 3.75rem;
  line-height: 3.75rem;
}

.app h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.app h3 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.app h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.app small,
.text_small {
  font-size: 0.889rem;
}

[data-hs-dragdrop] .nav-sticky.is-sticky {
	position: static
}

.app .button,
.app .hs-button {
	color: #fff;
	padding-inline: 20px;
	text-decoration: none;
}

.app .hs-form fieldset[class*=form-columns-] {
	margin-left: unset;
	margin-right: unset;
}

.app fieldset .hs-richtext {
	padding: 0 10px;
	text-transform: uppercase;
}

.form-style select {
	padding-left: 1rem;
}

form .inputs-list>li {
	margin: 0;
}

form .hs-error-msg {
	margin: 0;
}


/* @media (max-width: 767px) {
	.dnd-section .dnd-column {
		padding: 0 1rem;
	}
} */


.form-style.light select:not(.flatpickr-monthDropdown-months) {
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
}

.footer form label {
	display: none
}

label strong {
	color: #ef6b51;
	font-weight: normal
}

.input.disabled.disabled.disabled input {
	background: #5f60645e !important
}

.hs-input.hs-fieldtype-intl-phone select.hs-input {
	border-right: 1px solid #e1e1e1;
}

.form-dark.form-dark label[for] .hs-form-required,
.form-dark.form-dark label[for] strong {
	color: #ef6b51;
}