<section class="bg-zuju-gray-2">
<div class="relative max-w-[1440px] mx-auto flex flex-wrap justify-center sm:pt-24 lg:pt-36 sm:px-8" x-data="parallax()" x-bind="root">
  <img class="absolute top-80 right-0 w-1/2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-24)" />
  <h1 class="relative lg:w-1/2 text-2xl lg:text-4xl font-gtcond font-black text-white text-center" x-bind="animate(16)">
    {{ module.title }}
    {#
    {% if content.language.languageTag == "zh-cn" %}
          我们还有面向人才市场和人才发展市场的相关产品。
          {% else %}
          We also have products lined up for the transfer of talent market and talent development &amp; recruitment market. Read more below.
          {% endif %}
          #}
  </h1>
  
  <div class="w-full mb-16"></div>
  
  <article class="sm:hidden lg:w-5/12 p-8">
    <!--<a href="/portfolio/zujugp-exchange">-->
    <a href="{{ module.article.article_link.href }}">
      <div class="bg-zuju-red-dark" x-bind="animate(8)">
        <div class="relative bottom-4 right-4">
          <!--<img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-exchange.png" />-->
          {% if module.article.article_image.src %}
            {% set sizeAttrs = 'width="{{ module.article.article_image.width }}" height="{{ module.article.article_image.height }}"' %}
            {% if module.article.article_image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif module.article.article_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.article.article_image.max_width }}" height="{{ module.article.article_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.article.article_image.loading != 'disabled' ? 'loading="{{ module.article.article_image.loading }}"' : '' %}
          <img src="{{ module.article.article_image.src }}" alt="{{ module.article.article_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}

          <div class="absolute inset-0 flex flex-col items-start justify-end pl-8 pb-8 bg-gradient-to-bl from-black/0 via-black/0 to-black/50">
            <h1 class="w-1/2 text-5xl text-white font-gtcond font-black mb-4">
              {#
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴交换空间
                      {% else %}
                      ZujuGP Exchange
                      {% endif %}
                    #}
              {{ module.article.article_title }}
            </h1>

            <p class="text-white w-2/3 mb-4">
              {#
                    {% if content.language.languageTag == "zh-cn" %}
                    我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                    {% else %}
                    Our AI-powered and automated global job search app
                    {% endif %}
                    #}
                {{ module.article.article_description }}
            </p>

            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100" ></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </article>
  <article class="sm:hidden lg:w-5/12 relative p-8 lg:mt-36">
    <!--<a href="/portfolio/zujugp-rank">-->
    <a href="{{ module.article_2.article_link.href }}">
      <div class="bg-zuju-red-dark" x-bind="animate(-8)">
        <div class="relative bottom-4 right-4">
          <!--<img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-rank.png" />-->
          {% if module.article_2.article_image.src %}
            {% set sizeAttrs = 'width="{{ module.article_2.article_image.width }}" height="{{ module.article_2.article_image.height }}"' %}
            {% if module.article_2.article_image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif module.article_2.article_image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.article_2.article_image.max_width }}" height="{{ module.article_2.article_image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = module.article_2.article_image.loading != 'disabled' ? 'loading="{{ module.article_2.article_image.loading }}"' : '' %}
            <img src="{{ module.article_2.article_image.src }}" alt="{{ module.article_2.article_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          <div class="absolute inset-0 flex flex-col items-start justify-end pl-8 pb-8 bg-gradient-to-bl from-black/0 via-black/0 to-black/50">
            <h1 class="w-1/2 text-5xl text-white font-gtcond font-black mb-4">
              {#{% if content.language.languageTag == "zh-cn" %}
                    蹴蹴探索空间
                    {% else %}
                    ZujuGP Rank
                    {% endif %}
                    #}
              {{ module.article_2.article_title }}
            </h1>
            <p class="text-white w-2/3 mb-8">
              {#
                {% if content.language.languageTag == "zh-cn" %}
                我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                {% else %}
                Blockchain and AI-enabled talent development &amp; recruitment app
                {% endif %}
               #}
              {{ module.article_2.article_description }}
            </p>
                  
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                    ></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </article>
        
  <div class="glide lg:hidden sm:max-w-md" x-data="{}" x-init="new Glide($el).mount()">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="glide__slide">
          <div class="">
            <div>
              <!--<a href="/portfolio/zujugp-exchange">-->
              <a href="{{ module.article.article_link.href }}">
                <div class="bg-zuju-red-dark mt-4 ml-4 mb-8">
                  <!--<img class="relative bottom-4 right-4" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-exchange.png" />-->
                  {% if module.article.article_image.src %}
                    {% set sizeAttrs = 'width="{{ module.article.article_image.width }}" height="{{ module.article.article_image.height }}"' %}
                    {% if module.article.article_image.size_type == 'auto' %}
                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                    {% elif module.article.article_image.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ module.article.article_image.max_width }}" height="{{ module.article.article_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                     {% set loadingAttr = module.article.article_image.loading != 'disabled' ? 'loading="{{ module.article.article_image.loading }}"' : '' %}
                    <img class="relative bottom-4 right-4" src="{{ module.article.article_image.src }}" alt="{{ module.article.article_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                </div>
                
                <div class="flex flex-col items-start justify-end mb-8">
                  <h1 class="text-5xl text-white font-gtcond font-black mb-4">
                    {#
                    {% if content.language.languageTag == "zh-cn" %}
                    蹴蹴交换空间
                    {% else %}
                    ZujuGP Exchange
                    {% endif %}
                    #}
                    {{ module.article.article_title }}
                  </h1>
                  <p class="text-white mb-8">
                    {#
                    {% if content.language.languageTag == "zh-cn" %}
                    我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                    {% else %}
                    Our AI-powered and automated global job search app
                    {% endif %}
                    #}
                    {{ module.article.article_description }}
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                    <title>Arrow Forward</title>
                    <path
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="48"
                          d="M268 112l144 144-144 144M392 256H100"
                          ></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
              
        <div class="glide__slide">
          <div class="">
            <div>
              <!--<a href="/portfolio/zujugp-rank">-->
              <a href="{{ module.article_2.article_link.href }}">
                <div class="bg-zuju-red-dark mt-4 ml-4 mb-8">
                  <!--<img class="relative bottom-4 right-4" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-rank.png" />-->
                  {% if module.article_2.article_image.src %}
                    {% set sizeAttrs = 'width="{{ module.article_2.article_image.width }}" height="{{ module.article_2.article_image.height }}"' %}
                    {% if module.article_2.article_image.size_type == 'auto' %}
                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                    {% elif module.article_2.article_image.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ module.article_2.article_image.max_width }}" height="{{ module.article_2.article_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                     {% set loadingAttr = module.article_2.article_image.loading != 'disabled' ? 'loading="{{ module.article_2.article_image.loading }}"' : '' %}
                    <img class="relative bottom-4 right-4" src="{{ module.article_2.article_image.src }}" alt="{{ module.article_2.article_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                </div>
                <div class="flex flex-col items-start justify-end mb-8">
                  <h1 class="text-5xl text-white font-gtcond font-black mb-4">
                          {#{% if content.language.languageTag == "zh-cn" %}
                          蹴蹴探索空间
                          {% else %}
                          ZujuGP Rank
                          {% endif %}#}
                    {{ module.article_2.article_title }}
                  </h1>
                  <p class="text-white mb-8">
                    {#
                          {% if content.language.languageTag == "zh-cn" %}
                          我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                          {% else %}
                          Blockchain and AI-enabled talent development &amp; recruitment app
                          {% endif %}
                          #}
                    {{ module.article_2.article_description }}
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                    <title>Arrow Forward</title>
                    <path
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="48"
                          d="M268 112l144 144-144 144M392 256H100"
                          ></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
    </div>
  </div>
  
  <div class="w-full mb-16"></div>
  
  <div class="lg:w-2/3 relative flex flex-col items-center">
    <h1 class="sm:text-4xl lg:text-5xl font-gtcond font-black text-white text-center mb-8">
      {#{% if content.language.languageTag == "zh-cn" %}
      和我们并肩构筑伟大的愿景。
      {% else %}
      Build out our vision with us. 
      {% endif %}
      #}
     {{ module.convo_title }}
    </h1>
    <a href="/convo/cr-in-commercial">
      <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4 mb-16">
        {#
        {% if content.language.languageTag == "zh-cn" %}
        参与集会
        {% else %}
        Get in the convo
        {% endif %}
        #}
        {{ module.convo_button }}
      </button>
    </a>
  </div>
</div>
</section>