

  <article class="relative max-w-[1440px] grid sm:grid-rows-2 lg:grid-cols-2 mx-auto" x-data="parallax()" x-bind="root">
    <div>
      <!--<img class="h-full w-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/rank-hero.jpg" />-->
      <img class="h-full w-full object-cover object-center" src="{{ module.image.src }}" loading="lazy" />
    </div>
    <div class="relative bg-zuju-red flex flex-col items-center justify-center p-8 sm:py-16">
      <div class="absolute inset-0 flex items-center justify-center p-8">
        <!--<img class="lg:w-1/2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-8)" />-->
        <img class="lg:w-1/2" src="{{ module.background_image.src }}" x-bind="animate(-8)" loading="lazy" />
      </div>
      <h1 class="lg:w-3/4 relative text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-8" x-bind="animate(16)">
        {#
        {% if content.language.languageTag == "zh-cn" %}
        及时接触到全球范围内足球领域的人才
        {% else %}
        Instant access to global football talents
        {% endif %}
        #}
        {{ module.title }}
      </h1>
      <p class="lg:w-3/4 relative text-white text-center" x-bind="animate(8)">
        {#
        {% if content.language.languageTag == "zh-cn" %}
        球探们将拥有一个实时的、覆盖全球的足球人才数据库。其中包括完整的视频、球员统计和各类数据。所有的信息将通过区块链技术加以保护。
        {% else %}
        Scouts now have instant access to a hyperledger of global football talents. Complete with videos, player aggregated statistics and augmented data.
        Don't worry about your intel, it's secured with blockchain enabled technology.
        {% endif %}
        #}
        {{ module.description }}
      </p>
    </div>
  </article>

  <div class="max-w-[1440px] mx-auto">
    <div class="w-full py-16">
      {#
        <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
          {% if content.language.languageTag == "zh-cn" %}
          每个人都可以<span class="text-zuju-red">参与</span>。
          {% else %}
          Everyone can
          <span class="text-zuju-red">participate.</span>
          {% endif %}
        </p>
        <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
          {% if content.language.languageTag == "zh-cn" %}
          每个人也<span class="text-zuju-red">从中获益</span>。
          {% else %}
          Everyone can
          <span class="text-zuju-red">benefit.</span>
          {% endif %}
        </p>
      #}
      {% for item in module.text_blend %}
          <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
            {{ item.white_text }} <span class="text-zuju-red">{{ item.red_text }}</span>
          </p>
      {% endfor %}

    </div>