@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Thin.woff) format("woff");
  font-weight: 100
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Thin-Italic.woff) format("woff");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Ultra-Light.woff) format("woff");
  font-weight: 200
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Ultra-Light-Italic.woff) format("woff");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Light.woff) format("woff");
  font-weight: 300
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Light-Italic.woff) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Regular.woff) format("woff");
  font-weight: normal
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Regular-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Medium.woff) format("woff");
  font-weight: 500
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Medium-Italic.woff) format("woff");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Bold.woff) format("woff");
  font-weight: bold
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Bold-Italic.woff) format("woff");
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Black.woff) format("woff");
  font-weight: 900
}

@font-face {
  font-family: "GT America Compressed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-compressed/GT-America-Compressed-Black-Italic.woff) format("woff");
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Thin.woff) format("woff");
  font-weight: 100
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Thin-Italic.woff) format("woff");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Ultra-Light.woff) format("woff");
  font-weight: 200
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Ultra-Light-Italic.woff) format("woff");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Light.woff) format("woff");
  font-weight: 300
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Light-Italic.woff) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Regular.woff) format("woff");
  font-weight: normal
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Regular-Italic.woff) format("woff");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Medium.woff) format("woff");
  font-weight: 500
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Medium-Italic.woff) format("woff");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Bold.woff) format("woff");
  font-weight: bold
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Bold-Italic.woff) format("woff");
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Black.woff) format("woff");
  font-weight: 900
}

@font-face {
  font-family: "GT America Condensed";
  src: url(https://www.zujugp.com/hubfs/statics/fonts/gt-america-condensed/GT-America-Condensed-Black-Italic.woff) format("woff");
  font-weight: 900;
  font-style: italic
}