<section class="pb-32">
  <div class="max-w-[1440px] mx-auto">
    
    <div class="sm:hidden flex">
      <div class="lg:w-1/2">
        <a href="/portfolio/zujugp-exchange">
          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
            <div>
              <!--<img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-exchange.png" />-->
              <img class="w-full h-full object-cover object-center" src="{{ module.article_1.image.src }}" />
              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                  {#
                  {% if content.language.languageTag == "zh-cn" %}
                  蹴蹴交换空间
                  {% else %}
                  ZujuGP Exchange
                  {% endif %}
                  #}
                  {{ module.article_1.title }}
                </h1>
                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                  {#
                  {% if content.language.languageTag == "zh-cn" %}
                  我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                  {% else %}
                  Our AI-powered and automated global job search app
                  {% endif %}
                  #}
                  {{ module.article_1.description }}
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                  <title>Arrow Forward</title>
                  <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                        ></path>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      
      <div class="lg:w-1/2">
        <a href="/portfolio/zujugp-rank">
          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
            <div>
              <!--<img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-rank.jpg" />-->
              <img class="w-full h-full object-cover object-center" src="{{ module.article_2.image.src }}" />
              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                  {#
                  {% if content.language.languageTag == "zh-cn" %}
                  蹴蹴探索空间
                  {% else %}
                  ZujuGP Rank
                  {% endif %}
                  #}
                  {{ module.article_2.title }}
                </h1>
                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                  {#
                  {% if content.language.languageTag == "zh-cn" %}
                  蹴蹴探索空间
                  {% else %}
                  Blockchain and AI-enabled talent development &amp; recruitment app
                  {% endif %}
                  #}
                  {{ module.article_2.description }}
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                  <title>Arrow Forward</title>
                  <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                        ></path>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    
    <div class="lg:hidden sm:w-full sm:max-w-md pb-4 mx-auto">
      <div class="glide pb-8" x-data="{}" x-init="new Glide($el).mount()">
        <div class="glide__track" data-glide-el="track">
          <div class="glide__slides">
            
            <div class="glide__slide">
              <div class="">
                <div>
                  <div class="lg:w-1/2">
                    <a href="/portfolio/zujugp-exchange">
                      <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                        <div>
                          <img class="w-full h-full object-cover object-center" src="{{ module.article_1.image.src }}" />
                          <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                            <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                              {#
                              {% if content.language.languageTag == "zh-cn" %}
                              蹴蹴交换空间
                              {% else %}
                              ZujuGP Exchange
                              {% endif %}
                              #}
                              {{ module.article_1.title }}
                            </h1>
                            <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                              {#
                              {% if content.language.languageTag == "zh-cn" %}
                              我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                              {% else %}
                              Our AI-powered and automated global job search app
                              {% endif %}
                              #}
                              {{ module.article_1.description }}
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                              <title>Arrow Forward</title>
                              <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                    ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="glide__slide">
              <div class="">
                <div>
                  <div class="lg:w-1/2">
                    <a href="/portfolio/zujugp-rank">
                      <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                        <div>
                          <!--<img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-rank.jpg" />-->
                          <img class="w-full h-full object-cover object-center" src="{{ module.article_2.image.src }}" />
                          <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                            <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                              {#
                              {% if content.language.languageTag == "zh-cn" %}
                              蹴蹴探索空间
                              {% else %}
                              ZujuGP Rank
                              {% endif %}
                              #}
                              {{ module.article_2.title }}
                            </h1>
                            <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                              {#
                              {% if content.language.languageTag == "zh-cn" %}
                              蹴蹴探索空间
                              {% else %}
                              Blockchain and AI-enabled talent development &amp; recruitment app
                              {% endif %}
                              #}
                              {{ module.article_2.description }}
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                              <title>Arrow Forward</title>
                              <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                    ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
        </div>
      </div>
    </div>
  </div>
</section>