<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - About
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
	<main class="bg-zuju-gray-1" x-data="{}">
		<div class="w-full relative">
			<div class="absolute z-10 inset-x-0 h-[90vh] w-full max-w-[1920px] bg-black mx-auto pointer-events-none">
				<video muted="" autoplay="" loop="" class="h-full w-full opacity-30 object-cover transition duration-[3s]">
					<source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/wave.mp4" />
				</video>
			</div>
			<div class="relative z-20">
				<section class="h-[80vh] max-w-[1440px] mx-auto flex items-center justify-center p-8" x-data="parallax()" x-bind="root">
					{% if content.language.languageTag == "zh-cn" %}
          <h1 class="lg:w-5/6 font-gtcom text-white text-6xl lg:text-8xl font-extralight" x-bind="animate(24)">
            蹴蹴ZujuGP聚合
            <br />
            <strong>传媒、技术</strong>
            与
            <strong>足球。</strong>
          </h1>
          {% else %}
          <h1 class="lg:w-5/6 font-gtcom text-white text-6xl lg:text-8xl font-extralight" x-bind="animate(24)">
            ZujuGP converges
            <br />
            <strong>media, tech</strong>
            and
            <strong>football</strong>
          </h1>
          {% endif %}
				</section>
				<section class="max-w-[1440px] mx-auto lg:grid grid-cols-12 auto-rows-auto p-8">
					<div class="row-start-1 col-end-12 col-span-5 sm:-mx-8 z-10" x-data="parallax()" x-bind="root">
						<img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/about-1.png" x-bind="animate(0)" />
					</div>
					<div class="row-start-1 col-start-2 col-span-8 relative lg:grid grid-cols-8 grid-rows-[1fr,auto,auto,1fr] z-20" x-data="parallax()" x-bind="root">
						<div class="row-start-3 row-span-2 col-start-1"><div class="h-full w-0 border-l border-r border-zuju-red mx-auto"></div></div>
            <h2 class="row-start-2 col-span-8 text-white sm:text-2xl lg:text-4xl font-gtcond font-black sm:-mt-4 mb-8" x-bind="animate(16)">
              {% if content.language.languageTag == "zh-cn" %}
              一个能真正沟通东西方的平台，我们不仅仅帮助世界各地的球迷在此交换意见，还帮助建立企业和足球生态的全新连接。
              {% else %}
              A community platform bridging East and West, we are an exchange not just between fans but worlds between businesses and ecosystems.
              {% endif %}
            </h2>
            <p class="row-start-3 col-start-2 col-span-4 text-white lg:pr-8" x-bind="animate(16)">
              {% if content.language.languageTag == "zh-cn" %}
              因为一个纯粹且极具力量的想法 —— 那就是通过科技，每个热爱足球的人都能以各色各样的方式紧密相连。无论是企业经济还是个体经济，都能从中获利。
              {% else %}
              It is a powerful and simple idea that with tech, everyone who loves football can come together to interact in diverse ways. Both business
              economies and individual economies can benefit.
              {% endif %}
            </p>
					</div>
					<div class="row-start-2 col-start-2"><div class="h-full w-0 border-l border-r border-zuju-red mx-auto"></div></div>
					<article class="contents" x-data="{ active: 1, top: 0 }">
						<div class="row-start-2 col-start-3 col-span-8 pt-16" x-data="parallax()" x-bind="root">
							<h2 class="text-white sm:max-w-md sm:text-4xl lg:text-6xl font-gtcond font-black mb-8 sm:mx-auto" x-bind="animate(8)">
                {% if content.language.languageTag == "zh-cn" %}
                我们相信
                {% else %}
                We believe that..
                {% endif %}
              </h2>
						</div>
						<div class="row-start-3 col-start-2 relative">
							<div class="sm:hidden h-full w-0 border-l border-r border-zuju-red mx-auto"></div>
							<svg
								viewBox="0 0 18 14"
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								class="sm:hidden absolute top-0 inset-x-0 w-8 mx-auto transition-all duration-500 transform -translate-y-full"
								x-bind:style="{ top: $px(top + ($height / 2)) }"
							>
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g fill="#ED2938" stroke="#ED2938"><polygon points="17 7.0046755 9.273566 13 1 10.7009908 3.613411 3.2843148 13.501537 1"></polygon></g>
								</g>
							</svg>
						</div>
						<div class="sm:hidden relative row-start-3 col-start-3 col-span-4 pr-8">
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 1, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">1</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
                  {% if content.language.languageTag == "zh-cn" %}
                  AI的革命已经开始
                  {% else %}
                  The AI revolution has started
                  {% endif %}
								</p>
							</div>
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 2, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">2</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
									{% if content.language.languageTag == "zh-cn" %}
                  足球正迎来巨变
                  {% else %}
                  Football will change seismically
                  {% endif %}
								</p>
							</div>
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 3, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">3</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
									{% if content.language.languageTag == "zh-cn" %}
                  足球3.0是属于亚洲的时代
                  {% else %}
                  Football 3.0 is the Asian Era
                  {% endif %}
								</p>
							</div>
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 4, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">4</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
									{% if content.language.languageTag == "zh-cn" %}
                  全球40亿球迷渴望更多的连接、合作与交互
                  {% else %}
                  4 billion fans want to be connected globally and served collectively
                  {% endif %}
								</p>
							</div>
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 5, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">5</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
									{% if content.language.languageTag == "zh-cn" %}
                  变革就发生在技术与公共领域的交汇处
                  {% else %}
                  This will take place at the intersection of technology and the public realm
                  {% endif %}
								</p>
							</div>
							<div
								class="group font-bold flex items-center py-4 cursor-pointer"
								x-data="{ myIndex: 6, update() { active === this.myIndex &amp;&amp; (top = $el.offsetTop + ($height / 2)) } }"
								x-effect="update()"
								x-on:resize.window="update()"
								x-on:click="active = myIndex"
								x-on:mouseenter="active = myIndex"
							>
								<p class="text-zuju-gray-3 text-4xl font-gtcond font-black italic mr-8">6</p>
								<p class="text-zuju-gray-6 hover:text-zuju-red font-gtcond" x-bind:class="active === myIndex &amp;&amp; '!text-zuju-red'">
									{% if content.language.languageTag == "zh-cn" %}
                  蹴蹴ZujuGP正处在时代的风口
                  {% else %}
                  This intersection is ZujuGP
                  {% endif %}
								</p>
							</div>
						</div>
						<div class="lg:hidden max-w-md pb-4 mx-auto">
							<div class="glide" x-data="{}" x-init="new Glide($el).mount()">
								<div class="glide__track" data-glide-el="track">
									<div class="glide__slides">
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
                              {% if content.language.languageTag == "zh-cn" %}
                              AI的革命已经开始
                              {% else %}
                              The AI revolution has started
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              足球这项运动和它的理念也正随着这场变革在发生<span class="text-zuju-red">转变</span>。
                              {% else %}
                              along with
															<span class="text-zuju-red">gaming trends</span>
															and evolving ways to design and respond to our world.
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-1.png" /></div>
													</div>
												</div>
											</div>
										</div>
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
															{% if content.language.languageTag == "zh-cn" %}
                              足球正迎来巨变
                              {% else %}
                              Football will change seismically
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              因为
                              <span class="text-zuju-red">技术</span>
                              的发展和我们所处的数字时代，无论我们身处何地，我们都需要
                              <span class="text-zuju-red">更加互动、更加沉浸、更加贴合</span>
                              以及
                              <span class="text-zuju-red">更多参与感</span>
                              的体验。
                              {% else %}
                              Simply because ..
                              <span class="text-zuju-red">Technology</span>
                              . We will all demand
                              <span class="text-zuju-red">interoperability, immersion, access</span>
                              and
                              <span class="text-zuju-red">accountability.</span>
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-2.png" /></div>
													</div>
												</div>
											</div>
										</div>
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
															{% if content.language.languageTag == "zh-cn" %}
                              足球3.0是属于亚洲的时代
                              {% else %}
                              Football 3.0 is the Asian Era
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              足球1.0的欧洲时代正面临颓势，足球2.0的美国时代还在成长，<span class="text-zuju-red">而足球3.0的时代注定属于超过全球人口60%的亚洲。</span>
                              {% else %}
                              Football 1.0 Europe faces decline. Football 2.0 US is growing.
                              <span class="text-zuju-red">A new era where 60% of the world's population reside heralds.</span>
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-3.png" /></div>
													</div>
												</div>
											</div>
										</div>
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
															{% if content.language.languageTag == "zh-cn" %}
                              全球40亿球迷渴望更多的连接、合作与交互
                              {% else %}
                              4 billion fans want to be connected globally and served collectively
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              在虚拟与现实中相互<span class="text-zuju-red">成长、陪伴</span>和<span class="text-zuju-red">创造</span>是我们的权利。
                              {% else %}
                              It is our right to
															<span class="text-zuju-red">grow, play</span>
															and
															<span class="text-zuju-red">create</span>
															together in both real and digital worlds.
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-4.png" /></div>
													</div>
												</div>
											</div>
										</div>
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
															{% if content.language.languageTag == "zh-cn" %}
                              变革就发生在技术与公共领域的交汇处
                              {% else %}
                              This will take place at the intersection of technology and the public realm
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              在这个平台上，所有足球生态中的元素都
                              <span class="text-zuju-red">汇聚到了一起。</span>
                              {% else %}
                              On a single platform. Where components of the football ecosystem
                              <span class="text-zuju-red">function as a whole.</span>
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-5.png" /></div>
													</div>
												</div>
											</div>
										</div>
										<div class="glide__slide">
											<div class="">
												<div>
													<div class="flex flex-col lg:items-center justify-center mx-auto" x-data="parallax()" x-bind="root">
														<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
															{% if content.language.languageTag == "zh-cn" %}
                              蹴蹴ZujuGP正处在时代的风口
                              {% else %}
                              This intersection is ZujuGP
                              {% endif %}
														</div>
														<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                              {% if content.language.languageTag == "zh-cn" %}
                              和我们一起
                              <span class="text-zuju-red">#重新定义足球的未来</span>
                              {% else %}
                              Where
															<span class="text-zuju-red">#WritingTheFutureOfFootball</span>
															begins
                              {% endif %}
														</div>
														<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-6.png" /></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="-mb-8 glide__bullets bottom-1" data-glide-el="controls[nav]">
									<button class="glide__bullet" data-glide-dir="=0"></button>
									<button class="glide__bullet" data-glide-dir="=1"></button>
									<button class="glide__bullet" data-glide-dir="=2"></button>
									<button class="glide__bullet" data-glide-dir="=3"></button>
									<button class="glide__bullet" data-glide-dir="=4"></button>
									<button class="glide__bullet" data-glide-dir="=5"></button>
								</div>
							</div>
						</div>
						<div class="sm:hidden relative row-start-2 row-span-2 col-start-7 col-span-6 pr-8">
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 1"
								x-transition.duration.500ms=""
							>
                <div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
                  {% if content.language.languageTag == "zh-cn" %}
                  AI的革命已经开始
                  {% else %}
                  The AI revolution has started
                  {% endif %}
								</div>
								<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                  {% if content.language.languageTag == "zh-cn" %}
                  足球这项运动和它的理念也正随着这场变革在发生<span class="text-zuju-red">转变</span>。
                  {% else %}
                  along with
                  <span class="text-zuju-red">gaming trends</span>
                  and evolving ways to design and respond to our world.
                  {% endif %}
								</div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-1.png" /></div>
							</div>
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 2"
								x-transition.duration.500ms=""
							>
								<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
									{% if content.language.languageTag == "zh-cn" %}
                  足球正迎来巨变
                  {% else %}
                  Football will change seismically
                  {% endif %}
								</div>
                <div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                  {% if content.language.languageTag == "zh-cn" %}
                  因为
                  <span class="text-zuju-red">技术</span>
                  的发展和我们所处的数字时代，无论我们身处何地，我们都需要
                  <span class="text-zuju-red">更加互动、更加沉浸、更加贴合</span>
                  以及
                  <span class="text-zuju-red">更多参与感</span>
                  的体验。
                  {% else %}
                  Simply because ..
                  <span class="text-zuju-red">Technology</span>
                  . We will all demand
                  <span class="text-zuju-red">interoperability, immersion, access</span>
                  and
                  <span class="text-zuju-red">accountability.</span>
                  {% endif %}
                </div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-2.png" /></div>
							</div>
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 3"
								x-transition.duration.500ms=""
							>
								<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
									{% if content.language.languageTag == "zh-cn" %}
                  足球3.0是属于亚洲的时代
                  {% else %}
                  Football 3.0 is the Asian Era
                  {% endif %}
								</div>
								<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
									{% if content.language.languageTag == "zh-cn" %}
                  足球1.0的欧洲时代正面临颓势，足球2.0的美国时代还在成长，<span class="text-zuju-red">而足球3.0的时代注定属于超过全球人口60%的亚洲。</span>
                  {% else %}
                  Football 1.0 Europe faces decline. Football 2.0 US is growing.
									<span class="text-zuju-red">A new era where 60% of the world's population reside heralds.</span>
                  {% endif %}
								</div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-3.png" /></div>
							</div>
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 4"
								x-transition.duration.500ms=""
							>
								<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
									{% if content.language.languageTag == "zh-cn" %}
                  全球40亿球迷渴望更多的连接、合作与交互
                  {% else %}
                  4 billion fans want to be connected globally and served collectively
                  {% endif %}
								</div>
								<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                  {% if content.language.languageTag == "zh-cn" %}
                  在虚拟与现实中相互<span class="text-zuju-red">成长、陪伴</span>和<span class="text-zuju-red">创造</span>是我们的权利。
                  {% else %}
                  It is our right to
                  <span class="text-zuju-red">grow, play</span>
                  and
                  <span class="text-zuju-red">create</span>
                  together in both real and digital worlds.
                  {% endif %}
								</div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-4.png" /></div>
							</div>
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 5"
								x-transition.duration.500ms=""
							>
								<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
									{% if content.language.languageTag == "zh-cn" %}
                  变革就发生在技术与公共领域的交汇处
                  {% else %}
                  This will take place at the intersection of technology and the public realm
                  {% endif %}
								</div>
								<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                  {% if content.language.languageTag == "zh-cn" %}
                  在这个平台上，所有足球生态中的元素都
                  <span class="text-zuju-red">汇聚到了一起。</span>
                  {% else %}
                  On a single platform. Where components of the football ecosystem
                  <span class="text-zuju-red">function as a whole.</span>
                  {% endif %}
								</div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-5.png" /></div>
							</div>
							<div
								class="flex flex-col lg:items-center justify-center mx-auto w-1/2 absolute inset-0"
								x-data="parallax()"
								x-bind="root"
								x-show="active === 6"
								x-transition.duration.500ms=""
							>
								<div class="lg:hidden text-zuju-red text-xl font-gtcond font-bold lg:text-center">
									{% if content.language.languageTag == "zh-cn" %}
                  蹴蹴ZujuGP正处在时代的风口
                  {% else %}
                  This intersection is ZujuGP
                  {% endif %}
								</div>
								<div class="text-white text-xl font-gtcond font-bold lg:text-center mb-8" x-bind="animate(8)">
                  {% if content.language.languageTag == "zh-cn" %}
                  和我们一起
                  <span class="text-zuju-red">#重新定义足球的未来</span>
                  {% else %}
                  Where
                  <span class="text-zuju-red">#WritingTheFutureOfFootball</span>
                  begins
                  {% endif %}
								</div>
								<div class="sm:mx-auto"><img class="h-24" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/belief-6.png" /></div>
							</div>
						</div>
					</article>
				</section>
				<section class="w-full bg-white sm:pt-8 sm:pb-24 lg:pt-16 lg:pb-40">
					<div class="max-w-[1440px] p-8 mx-auto" x-data="parallax()" x-bind="root">
						<p class="lg:w-7/12 sm:text-2xl lg:text-4xl text-center font-gtcond font-black mx-auto" x-bind="animate(-4)">
              {% if content.language.languageTag == "zh-cn" %}
              <span class="text-zuju-red">蹴蹴ZujuGP平台</span>的特殊架构能够允许即时地创作，多彩的内容分享与协作，并且还娱乐兼容。
              {% else %}
              <span class="text-zuju-red">ZujuGP's</span>
							architecture is to allow immediacy of creation, sharing of and collaboration on content, experience and playing.
              {% endif %}
						</p>
					</div>
				</section>
				<section class="w-full bg-zuju-gray-2 pb-32">
					<div class="max-w-[1440px] p-8 mx-auto">
						<img class="lg:hidden w-full max-w-md -mt-24 mb-16 mx-auto" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/about-ball-mobile.png" />
						<div class="sm:hidden -mt-32 mb-16" x-data="parallax()" x-bind="root">
							<img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/about-ball.png" x-bind="animate(16)" />
						</div>
						<div class="lg:w-7/12 mb-16 relative z-20" x-data="parallax()" x-bind="root">
							<p class="text-white mb-8" x-bind="animate(8)">
                {% if content.language.languageTag == "zh-cn" %}
                也许你是希望提升能力、寻找工作机会、看一场比赛、线上购物或者单纯上网冲浪一会儿。从现在开始你不再孤单，你也不需要再通过其他独立的应用程序或者通过前往现场的方式去一件一件完成那些事。在这里，你拥有<strong>一个整合而且丰富的平台</strong>，可以一次性实现所有的事。
                {% else %}
                You may be looking for opportunities to upskill, gain employment or watch a game, shop, play and interact. This will no longer be something
								that only one person does. You won't need a new standalone app or travel to a stadium or find new ways to access different components of
								what interests you. What you want will be found on <strong>a single platform</strong>.
                {% endif %}
							</p>
							<p class="text-zuju-red font-gtcond font-black sm:text-2xl lg:text-4xl mb-8" x-bind="animate(8)">
                {% if content.language.languageTag == "zh-cn" %}
                这个平台就是蹴蹴ZujuGP
                {% else %}
                This platform is ZujuGP.
                {% endif %}
              </p>
							<p class="text-white" x-bind="animate(8)">
								{% if content.language.languageTag == "zh-cn" %}
                在蹴蹴ZujuGP这个高度集成的平台上，你能享受到即时且互动性很强的内容，来这里，能让你无障碍对接全球并使得你从深爱的运动中学到更多！
                {% else %}
                Where immediacy of use and interactivity of content will directly contribute to your enjoyment, allow you to connect globally and profit in your love for the sport.
                {% endif %}
							</p>
						</div>
						<div class="lg:grid grid-cols-12 grid-rows-[1fr,auto,auto,repeat(4,1fr),auto]">
							<div class="sm:hidden0 row-start-1 row-end-7 col-start-6 col-end-13 -mt-32 z-10" x-data="parallax()" x-bind="root">
								<img class="h-full w-full object-contain" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-16)" />
							</div>
							<div class="row-start-1 row-span-5 col-start-3 col-span-5 sm:-mx-8 z-20">
								<img class="h-full w-full max-w-none object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/about-stadium.png" />
							</div>
							<div class="row-start-2 col-end-[-2] col-span-5 sm:-mt-8 sm:mb-8 lg:mb-16 z-30" x-data="parallax()" x-bind="root">
								<p class="text-white sm:text-2xl lg:text-4xl font-gtcond font-black" x-bind="animate(24)">
                  {% if content.language.languageTag == "zh-cn" %}
                  足球的未来是更社交化的、更协作化的。这是由更沉浸、更多用户原创内容、更动态和更具可塑性的<strong>线上</strong>模式所决定的。
                  {% else %}
                  The future of football will be mostly social, collaborative and defined by immersive experiences <strong>online</strong>.
                  {% endif %}
								</p>
							</div>
							<div class="row-start-3 col-end-[-2] col-span-3 mb-8 z-30" x-data="parallax()" x-bind="root">
								<p class="text-white" x-bind="animate(16)">
									{% if content.language.languageTag == "zh-cn" %}
                  足球将是一场全民参与，每个人都加入其中并成为创造者的游戏。同时，蹴蹴ZujuGP平台也为那些想在足球领域寻找商业和创意机会的人提供了一条出路。
                  {% else %}
                  All football fans and professionals will be both users and creators. Football on ZujuGP is also an outlet for those who seek creative and commercial interests.
                  {% endif %}
								</p>
							</div>
							<div class="row-start-6 row-span-2 col-start-1 col-end-[-1]">
								<div class="h-full sm:h-36 w-0 border-l border-r border-zuju-red mx-auto"></div>
							</div>
							<p
								class="
									row-start-9
									col-start-2 col-span-10
									text-white
									sm:text-2xl
									lg:text-4xl
									font-gtcond font-black
									text-center
									sm:pt-8
									lg:pt-16
									sm:mb-8
									lg:mb-24
								"
							>
                {% if content.language.languageTag == "zh-cn" %}
                蹴蹴ZujuGP，一个可以折射现实世界的在线平台，将为您提供沉浸式的足球体验。
                {% else %}
                ZujuGP will be an online immersive that mirrors our world.
                {% endif %}
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</div>
{% endblock body%}