<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Zuju Statics -  blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}

{% block body %}
<div class="app">
	<main class="bg-zuju-gray-1" x-data="{}">
		<section class="max-w-[1440px] bg-zuju-gray-db mx-auto">
			<div class="bg-no-repeat" style="background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/listing-masthead.png)">
				<div class="flex flex-col items-center justify-center p-8 sm:py-24 lg:py-16">
					<h1 class="text-white sm:text-5xl lg:text-6xl font-gtcond font-black mb-8">
            {{ currLang == "zh-cn" ? "最新发布" : "Latest" }}
          </h1>
					<div class="flex items-center">
						<label class="block text-white font-bold uppercase">{{ currLang == "zh-cn" ? "筛选" : "Filter" }}</label>
						{% module "statics-blog-filter" path="../../modules/statics-blog-filter" %}
					</div>
				</div>
				<div class="max-w-[1440px] mx-auto pb-16">
						{% module 'statics-blog-listings' path='../../modules/statics-blog-listings' %}
				</div>
			</div>
			{% module 'blog-pagination' path='../../modules/statics-blog-pagination' %}
		</section>
	</main>
</div>
{% endblock body %}
