<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Collectibles
-->
{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    <section class="bg-[#1d1d1b]">
      <div
        class="w-full max-w-[1920px] bg-fixed bg-no-repeat bg-center bg-cover mx-auto"
        style="
          background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/network.png),
            radial-gradient(circle closest-side at center, #574969, #1d1d1b 120%);
        "
      >
        <div class="w-full max-w-[1440px] sm:flex sm:flex-col lg:grid lg:grid-cols-12 auto-rows-auto pt-0 p-8 mx-auto">
          <div class="lg:row-start-1 lg:col-start-9 lg:col-span-3 pt-24" x-data="parallax()" x-bind="root">
            <span></span>
            <img class="object-center object-contain sm:mx-auto" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/nft.png" x-bind="animate(24)" />
          </div>
          <div class="lg:row-span-1 lg:col-start-2 lg:col-span-7 pt-24 pr-8 mb-16">
            <div x-data="parallax()" x-bind="root">
              <h1 class="text-zuju-red sm:text-lg lg:text-2xl font-bold uppercase mb-2" x-bind="animate(8)">Own Your Place In History</h1>
              <p class="text-white mb-8" x-bind="animate(8)">Bid for LUMINA, the only digital collectible recognised by Cristiano Ronaldo.</p>
              <p class="text-white mb-4" x-bind="animate(8)">
                A 1-of-1 media asset featuring Cristiano Ronaldo in ZujuGP's acclaimed launch commercial,
                <strong class="text-zuju-red">LUMINA</strong>
                is the ultimate trophy for collectors and Cristiano Ronaldo fans. The highest bidder gets to meet Cristiano in person and will receive tickets to
                a Manchester United home game, a 2-night suite stay at Hotel Football next to Old Trafford and many more amazing rewards.
              </p>
              <p class="text-white" x-bind="animate(8)">Auction* time 0600 UCT +8 on 26 October 2021.</p>
              <p class="text-white mb-4" x-bind="animate(8)"><small><i>*Auction time and date is subject to change.</i></small></p>
              <a href="https://collectibles.zujugp.com/#/auction/228">
                <button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 mb-8" x-bind="animate(8)">
                  Get Yours Now
                </button>
              </a>
            </div>
          </div>
          <div class="lg:row-start-2 lg:col-start-4 lg:col-span-6 text-center mb-16">
            <div x-data="parallax()" x-bind="root">
              <h1 class="text-zuju-red sm:text-lg lg:text-2xl font-bold uppercase mb-4" x-bind="animate(0)">
                Future Drops
              </h1>
              <p class="text-white mb-8" x-bind="animate(0)">
                We will also be inviting the ZujuGP community to future exclusive drops where we create innovative ways to digitise fan experience. 
                One such reward is to connect fans to their favourite stars such as Cristiano&nbsp;Ronaldo! Stay&nbsp;tuned.
              </p>
              <p class="text-white mb-8" x-bind="animate(0)">
                <small>Disclaimer: We are unable to support sale of digital collectibles in countries where such products are prohibited.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock body %}
