<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Home
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    <section class="sm:hidden">
      <div
        class="h-[calc(100vh-var(--nav-height))] min-h-[600px] max-w-[1920px] mx-auto grid sm:grid-cols-1 sm:grid-rows-1 lg:grid-cols-4 lg:grid-rows-2"
      >
        <article class="relative flex items-end lg:col-span-2 lg:row-span-2">
          <a href="/about-us">
            <div class="absolute inset-0 bg-black">
              <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-1.png" />
            </div>
            <div class="relative w-full p-4">
              <h1 class="lg:text-6xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  进入蹴蹴足球世界
                {% else %}
                  Enter the ZujuGP footballverse
                {% endif %}
              </h1>
              <p class="relative text-trueGray-200 sm:text-sm pr-12">
                {% if content.language.languageTag == "zh-cn" %}
                  #重新定义足球的未来 – 最棒的数字化体验与全新机会
                {% else %}
                  #WritingTheFutureOfFootball - The best new digital experiences and opportunities
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </p>
            </div>
          </a>
        </article>
        <article class="relative flex items-end h-full lg:col-span-2">
          <a href="https://shop.zujugp.com">
            <div class="absolute inset-0 bg-black">
              <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-4.png" />
            </div>
            <div class="relative w-full p-4">
              <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  (cn) Shop Megastore
                {% else %}
                  Shop Megastore
                {% endif %}
              </h1>
              <p class="relative text-trueGray-200 sm:text-sm pr-12">
                {% if content.language.languageTag == "zh-cn" %}
                  (cn) Limited edition items only
                {% else %}
                  Limited edition items only
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </p>
            </div>
          </a>
        </article>
        <article class="relative flex items-end">
          <a href="{{ content_by_id(56334347298).absolute_url }}">
            <div class="absolute inset-0 bg-black">
              <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-2.png" />
            </div>
            <div class="relative w-full p-4">
              <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  C罗 X 变脸
                {% else %}
                  Ronaldo X Bian Lian
                {% endif %}
              </h1>
              <p class="relative text-trueGray-200 sm:text-sm pr-12">
                {% if content.language.languageTag == "zh-cn" %}
                  足球史上第一位变脸侠
                {% else %}
                  Football's first mask changing 变脸 WARRIOR
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </p>
            </div>
          </a>
        </article>
        <article class="relative flex items-end">
          <a href="/kungfu-dash">
            <div class="absolute inset-0 bg-black">
              <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-3.png" />
            </div>
            <div class="relative w-full p-4">
              <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  功夫快跳 &amp; 赢得游戏
                {% else %}
                  Kungfu Dash &amp; Win
                {% endif %}
              </h1>
              <p class="relative text-trueGray-200 sm:text-sm pr-12">
                {% if content.language.languageTag == "zh-cn" %}
                  开始游戏，可以赢得和C罗Zoom视频见面的机会
                {% else %}
                  Play to win a chance to meet Cristiano Ronaldo on ZOOM
                {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </p>
            </div>
          </a>
        </article>
      </div>
    </section>
    <section class="lg:hidden">
      <div class="aspect-w-4 aspect-h-3">
        <div>
          <article class="relative flex items-end h-full lg:col-span-2 lg:row-span-2">
            <a href="/about-us">
              <div class="absolute inset-0 bg-black">
                <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-1.png" />
              </div>
              <div class="relative w-full p-4">
                <h1 class="lg:text-6xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                  {% if content.language.languageTag == "zh-cn" %}
                    进入蹴蹴足球世界
                  {% else %}
                    Enter the ZujuGP footballverse
                  {% endif %}
                </h1>
                <p class="relative text-trueGray-200 sm:text-sm pr-12">
                  {% if content.language.languageTag == "zh-cn" %}
                    #重新定义足球的未来 – 最棒的数字化体验与全新机会
                  {% else %}
                    #WritingTheFutureOfFootball - The best new digital experiences and opportunities
                  {% endif %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                    <title>Arrow Forward</title>
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="48"
                      d="M268 112l144 144-144 144M392 256H100"
                    ></path>
                  </svg>
                </p>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="glide" x-data="{}" x-init="new Glide($el).mount()">
        <div class="glide__track" data-glide-el="track">
          <div class="glide__slides">
            <div class="glide__slide">
              <div class="aspect-w-4 aspect-h-3">
                <div>
                  <article class="relative flex items-end h-full">
                    <a href="https://shop.zujugp.com">
                      <div class="absolute inset-0 bg-black">
                        <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-4.png" />
                      </div>
                      <div class="relative w-full p-4">
                        <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                          {% if content.language.languageTag == "zh-cn" %}
                            (cn) Shop Megastore
                          {% else %}
                            Shop Megastore
                          {% endif %}
                        </h1>
                        <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                          {% if content.language.languageTag == "zh-cn" %}
                            (cn) Limited edition items only
                          {% else %}
                            Limited edition items only
                          {% endif %}
                          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                            <title>Arrow Forward</title>
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="48"
                              d="M268 112l144 144-144 144M392 256H100"
                            ></path>
                          </svg>
                        </p>
                      </div>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="glide__slide">
              <div class="aspect-w-4 aspect-h-3">
                <div>
                  <article class="relative flex items-end h-full">
                    <a href="{{ content_by_id(56334347298).absolute_url }}">
                      <div class="absolute inset-0 bg-black">
                        <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-2.png" />
                      </div>
                      <div class="relative w-full p-4">
                        <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                          {% if content.language.languageTag == "zh-cn" %}
                            C罗 X 变脸
                          {% else %}
                            Ronaldo X Bian Lian
                          {% endif %}
                        </h1>
                        <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                          {% if content.language.languageTag == "zh-cn" %}
                            足球史上第一位变脸侠
                          {% else %}
                            Football's first mask changing 变脸 WARRIOR
                          {% endif %}
                          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                            <title>Arrow Forward</title>
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="48"
                              d="M268 112l144 144-144 144M392 256H100"
                            ></path>
                          </svg>
                        </p>
                      </div>
                    </a>
                  </article>
                </div>
              </div>
            </div>
            <div class="glide__slide">
              <div class="aspect-w-4 aspect-h-3">
                <div>
                  <article class="relative flex items-end h-full">
                    <a href="/kungfu-dash">
                      <div class="absolute inset-0 bg-black">
                        <img class="opacity-50 h-full w-full object-cover" src="https://dev.zujugp.com/hubfs/statics/assets/home-3.png" />
                      </div>
                      <div class="relative w-full p-4">
                        <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                          {% if content.language.languageTag == "zh-cn" %}
                            功夫快跳 &amp; 赢得游戏
                          {% else %}
                            Kungfu Dash &amp; Win
                          {% endif %}
                        </h1>
                        <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                          {% if content.language.languageTag == "zh-cn" %}
                            开始游戏，可以赢得和C罗Zoom视频见面的机会
                          {% else %}
                            Play to win a chance to meet Cristiano Ronaldo on ZOOM
                          {% endif %}
                          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                            <title>Arrow Forward</title>
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="48"
                              d="M268 112l144 144-144 144M392 256H100"
                            ></path>
                          </svg>
                        </p>
                      </div>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-4 pb-4 glide__bullets left-0 bottom-1 translate-x-[-4px]" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
      </div>
    </section>
    <section class="w-full bg-gradient-cr p-8">
      <div class="max-w-[1440px] mx-auto" x-data="{ show: (window.innerHeight - $top) > 1 }" x-on:scroll.window="show = ((window.innerHeight - $top) > 1)">
        <div
          class="grid sm:grid-cols-1 sm:grid-rows-[repeat(auto,2)] sm:gap-y-8 lg:grid-cols-12 transition duration-0 lg:transform translate-y-8 opacity-0"
          x-bind:class="show &amp;&amp; '!translate-y-0 !opacity-100 !duration-700'"
        >
          <section class="lg:col-end-11 lg:col-span-3 lg:row-start-1" x-data="parallax()" x-bind="root">
            <div class="lg:aspect-w-1 lg:aspect-h-1" x-bind="animate(8)">
              <div><img class="sm:max-w-md h-full w-full object-contain sm:mx-auto" src="/hubfs/statics/assets/nft.png" /></div>
            </div>
          </section>
          <section class="lg:col-start-3 lg:col-span-7 lg:row-start-1 z-10" x-data="parallax()" x-bind="root">
            <div class="h-full flex flex-col sm:items-center lg:items-start justify-center" x-bind="animate(16)">
              <h1 class="text-zuju-red font-bold sm:text-center uppercase mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  购买最初版ZujuGP和C罗联名的代币
                {% else %}
                  Buy a 1st Edition ZujuGP-CR token today
                {% endif %}
              </h1>
              <h2 class="text-white sm:text-3xl lg:text-4xl font-gtcond font-black sm:text-center mb-8">
                {% if content.language.languageTag == "zh-cn" %}
                  并有机会赢取独家镀金的、<br>价值超过4万美元的纪念面具！
                {% else %}
                  And WIN exclusive access &amp; gold-plated commemorative masks worth $40k!
                {% endif %}
              </h2>
              <a href="https://nft.zujugp.com">
                <button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4">
                  {% if content.language.languageTag == "zh-cn" %}
                    立即获取
                  {% else %}
                    Get Yours Now
                  {% endif %}
                </button>
              </a>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="w-full bg-white p-8 overflow-hidden" x-data="{ bImg: false, bMan: false, mPort: false, dPort: false, dPortK: false }">
      <div class="relative w-full sm:max-w-md max-w-[1920px] mx-auto" x-data="parallax()" x-bind="root">
        <img
          class="sm:hidden absolute bottom-0 -right-8 pointer-events-none"
          src="/hubfs/statics/assets/ball-bg.png"
          x-bind="animate(-24)"
        />
        <div
          class="
            w-full
            flex flex-col
            lg:grid lg:grid-cols-[minmax(4rem,var(--gutter-1440)),auto,repeat(12,1fr),var(--gutter-1440)] lg:grid-rows-[repeat(3,auto)]
          "
        >
          <div
            x-on:scroll.window="bImg = (($vh100 - $top) > 1)"
            class="lg:row-start-1 lg:col-start-1 lg:col-span-7 pr-4 pb-4 transition duration-0 transform sm:translate-y-8 lg:-translate-x-8 opacity-0"
            x-bind:class="bImg &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700'"
          >
            <div class="sm:max-w-md sm:mx-auto">
              <div class="relative aspect-w-4 aspect-h-3">
                <div class="absolute top-4 left-4 bottom-0 right-0 bg-zuju-red"></div>
                <img class="h-full w-full object-cover" src="/hubfs/statics/assets/ball.png" />
              </div>
            </div>
          </div>
          <div
            x-on:scroll.window="bMan = (($vh100 - $top) > 1)"
            class="lg:row-start-1 lg:col-span-7 lg:px-8 sm:pt-8 flex items-center transition duration-0 transform sm:translate-y-8 lg:translate-x-8 opacity-0"
            x-bind:class="bMan &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700'"
          >
            <div>
              <h1 class="sm:text-4xl lg:text-5xl font-gtcond font-black mb-4">
                {% if content.language.languageTag == "zh-cn" %}
                  我们的宣言
                {% else %}
                  Our Manifesto
                {% endif %}
              </h1>
              <p class="mb-8">
                {% if content.language.languageTag == "zh-cn" %}
                  一个能真正沟通东西方的平台，我们不仅仅帮助世界各地的球迷在此交换意见，还帮助建立企业和足球生态的全新连接。
                {% else %}
                  A community platform bridging East and West, we are an exchange not just between fans but worlds between businesses and ecosystems.
                {% endif %}
              </p>
              <a href="/about-us">
                <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4">
                  {% if content.language.languageTag == "zh-cn" %}
                    了解更多
                  {% else %}
                    Learn About Us
                  {% endif %}
                </button>
              </a>
            </div>
          </div>
          <div class="sm:hidden row-start-2 col-start-2 border-l-2 border-zuju-red pr-8"></div>
          <div
            x-on:scroll.window="dPort = mPort = (($vh100 - $top) > 1)"
            class="lg:row-start-2 lg:col-span-10 pt-16 transition duration-0 transform sm:translate-y-8 lg:translate-x-8 opacity-0"
            x-bind:class="(mPort || dPort) &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700'"
          >
            <h1 class="sm:text-4xl lg:text-5xl font-gtcond font-black mb-4">
              {% if content.language.languageTag == "zh-cn" %}
                更多模块
              {% else %}
                Portfolio
              {% endif %}
            </h1>
            <p>
              {% if content.language.languageTag == "zh-cn" %}
                在这里，会有你最喜欢的产品，有你渴望的新体验以及专属于您的独特机会
              {% else %}
                Products you love, experiences you want and the opportunities only you deserve
              {% endif %}
            </p>
          </div>
          <div class="sm:hidden row-start-3 col-span-2"></div>
          <div
            class="lg:hidden transition duration-0 transform sm:translate-y-8 opacity-0"
            x-bind:class="mPort &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700'"
          >
            <div class="glide" x-data="{}" x-init="new Glide($el).mount()">
              <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                  <div class="glide__slide">
                    <div class="">
                      <div>
                        <div class="py-8">
                          <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-1.png" />
                          <h3 class="text-zuju-red font-bold mb-2">
                            {% if content.language.languageTag == "zh-cn" %}
                              Zuju游戏空间
                            {% else %}
                              ZujuGamePlay
                            {% endif %}
                          </h3>
                          <p class="text-trueGray-500 text-sm">
                            {% if content.language.languageTag == "zh-cn" %}
                              给你互动性极高的、实时的、史诗级的LIVE游戏体验
                            {% else %}
                              The LIVE game experience gets interactive, real-time &amp; EPIC
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="glide__slide">
                    <div class="">
                      <div>
                        <div class="py-8">
                          <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-2.png" />
                          <h3 class="text-zuju-red font-bold mb-2">
                            {% if content.language.languageTag == "zh-cn" %}
                              Zuju交换空间
                            {% else %}
                              ZujuGP Exchange
                            {% endif %}
                          </h3>
                          <p class="text-trueGray-500 text-sm">
                            {% if content.language.languageTag == "zh-cn" %}
                              基于AI智能技术的全球工作搜寻和匹配系统
                            {% else %}
                              Global job search &amp; match engine powered by AI &amp; smart tech
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="glide__slide">
                    <div class="">
                      <div>
                        <div class="py-8">
                          <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-3.png" />
                          <h3 class="text-zuju-red font-bold mb-2">
                            {% if content.language.languageTag == "zh-cn" %}
                              ZujuGP探索空间
                            {% else %}
                              ZujuGP Rank
                            {% endif %}
                          </h3>
                          <p class="text-trueGray-500 text-sm">
                            {% if content.language.languageTag == "zh-cn" %}
                              在您口袋里的数字学院。您可以随时随地参加不同的训练并且被发掘
                            {% else %}
                              A digital academy in your pocket. Train or be discovered anywhere
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="glide__bullets left-0 bottom-1 translate-x-[-4px]" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
              </div>
            </div>
          </div>
          <div
            x-on:scroll.window="dPortK = (($vh100 - $top) > 1)"
            class="sm:hidden lg:row-start-3 lg:col-span-3 pt-8 pr-8 transition duration-0 transform translate-y-8 opacity-0"
            x-bind:class="dPortK &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700'"
          >
            <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-1.png" />
            <h3 class="text-zuju-red font-bold mb-2">
              {% if content.language.languageTag == "zh-cn" %}
                Zuju游戏空间
              {% else %}
                ZujuGamePlay
              {% endif %}
            </h3>
            <p class="text-trueGray-500 text-sm">
              {% if content.language.languageTag == "zh-cn" %}
                给你互动性极高的、实时的、史诗级的LIVE游戏体验
              {% else %}
                The LIVE game experience gets interactive, real-time &amp; EPIC
              {% endif %}
            </p>
          </div>
          <div
            class="sm:hidden lg:row-start-3 lg:col-span-3 pt-8 pr-8 transition duration-0 transform translate-y-8 opacity-0"
            x-bind:class="dPortK &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700 !delay-[200ms]'"
          >
            <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-2.png" />
            <h3 class="text-zuju-red font-bold mb-2">
              {% if content.language.languageTag == "zh-cn" %}
                Zuju交换空间
              {% else %}
                ZujuGP Exchange
              {% endif %}
            </h3>
            <p class="text-trueGray-500 text-sm">
              {% if content.language.languageTag == "zh-cn" %}
                基于AI智能技术的全球工作搜寻和匹配系统
              {% else %}
                Global job search &amp; match engine powered by AI &amp; smart tech
              {% endif %}
            </p>
          </div>
          <div
            class="sm:hidden lg:row-start-3 lg:col-span-3 pt-8 pr-8 transition duration-0 transform translate-y-8 opacity-0"
            x-bind:class="dPortK &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700 !delay-[400ms]'"
          >
            <img class="h-16 w-16 mb-4" src="/hubfs/statics/assets/port-3.png" />
            <h3 class="text-zuju-red font-bold mb-2">
              {% if content.language.languageTag == "zh-cn" %}
                ZujuGP探索空间
              {% else %}
                ZujuGP Rank
              {% endif %}
            </h3>
            <p class="text-trueGray-500 text-sm">
              {% if content.language.languageTag == "zh-cn" %}
                在您口袋里的数字学院。您可以随时随地参加不同的训练并且被发掘
              {% else %}
                A digital academy in your pocket. Train or be discovered anywhere
              {% endif %}
            </p>
          </div>
          <div
            class="row-start-3 col-span-3 flex items-center justify-center sm:pt-8 transition duration-0 transform translate-y-8 opacity-0"
            x-bind:class="dPortK &amp;&amp; '!translate-x-0 !translate-y-0 !opacity-100 !duration-700 lg:!delay-[600ms]'"
          >
            <a href="/portfolio">
              <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4">
                {% if content.language.languageTag == "zh-cn" %}
                  查看更多模块
                {% else %}
                  View Portfolio
                {% endif %}
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="max-w-[1440px] lg:grid grid-cols-12 mx-auto">
        <div class="row-start-1 col-start-1 col-span-12">
          <div class="sm:aspect-w-9 sm:aspect-h-5">
            <div><img class="h-full w-full object-cover object-left" src="/hubfs/statics/assets/earn-banner.png" /></div>
          </div>
        </div>
        <div class="row-start-1 col-start-8 col-span-4 p-8" x-data="parallax()" x-bind="root">
          <div class="h-full flex flex-col items-center justify-center" x-bind="animate(8)">
            <h1 class="lg:w-3/4 text-white sm:text-3xl lg:text-4xl font-gtcond font-black text-center mb-4">
              {% if content.language.languageTag == "zh-cn" %}
                奖励与忠诚积分
              {% else %}
                Reward And Earn Loyalty Points
              {% endif %}
            </h1>
            <p class="text-white text-center mb-4">
              {% if content.language.languageTag == "zh-cn" %}
                通过兑换积分购物或者赢取奖励！
              {% else %}
                Redeem or get rewarded for shopping and spending time with us!
              {% endif %}
            </p>
            <a href="http://members.zujugp.com/rewards">
              <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4">
                {% if content.language.languageTag == "zh-cn" %}
                  了解更多
                {% else %}
                  Find out more
                {% endif %}
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full bg-zuju-gray-2 p-8" x-data="{ bTitle: false, bArt1: false, bArt2: false, bArt3: false, bAll: false }">
      <div
        class="
          max-w-[1440px]
          sm:max-w-md
          grid
          sm:grid-cols-1
          lg:grid-cols-3
          sm:grid-rows-[repeat(4,auto)]
          lg:grid-rows-[repeat(3,auto)] lg:gap-x-8
          mx-auto
          mb-16
        "
      >
        <div
          x-on:scroll.window="bTitle = (($vh100 - $top) > 1)"
          class="lg:col-start-2 lg:col-span-2 py-16 transition duration-0 transform translate-y-8 opacity-0"
          x-bind:class="bTitle &amp;&amp; '!translate-y-0 !opacity-100 !duration-700'"
        >
          <div x-data="parallax()" x-bind="root">
            <h1 class="text-white text-center sm:text-4xl lg:text-5xl font-gtcond font-black" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
                什么是最近的趋势
              {% else %}
                What's Trending
              {% endif %}
            </h1>
          </div>
        </div>
        <div
          x-on:scroll.window="bArt1 = (($vh100 - $top) > 1)"
          class="lg:col-start-1 lg:row-start-1 lg:row-span-2 lg:pt-24 sm:mb-16 transition duration-0 transform translate-y-8 opacity-0"
          x-bind:class="bArt1 &amp;&amp; '!translate-y-0 !opacity-100 !duration-700'"
        >
          <article x-data="parallax()" x-bind="root">
            <a href="#">
              <div class="relative w-full aspect-w-16 aspect-h-9 mb-8" x-bind="animate(16)">
                <div class="absolute top-4 left-4 right-0 bottom-0 bg-zuju-red-dark"></div>
                <div class="absolute top-0 left-0 right-4 bottom-4">
                  <img class="w-full h-full object-cover" src="/hubfs/statics/assets/trend-1.png" />
                </div>
              </div>
              <div x-bind="animate(16)">
                <h2 class="text-zuju-red text-sm font-bold uppercase mb-4">Opinion</h2>
                <h1 class="text-white sm:text-xl lg:text-2xl font-gtcond font-black mb-4">Top 10 most decorated footballers in the world right now</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </div>
            </a>
          </article>
        </div>
        <div
          x-on:scroll.window="bArt2 = (($vh100 - $top) > 1)"
          class="lg:pt-24 sm:mb-16 transition duration-0 transform translate-y-8 opacity-0"
          x-bind:class="bArt2 &amp;&amp; '!translate-y-0 !opacity-100 !duration-700 lg:!delay-[400ms]'"
        >
          <article x-data="parallax()" x-bind="root">
            <a href="#">
              <div class="relative w-full aspect-w-16 aspect-h-9 mb-8" x-bind="animate(-8)">
                <div class="absolute top-4 left-4 right-0 bottom-0 bg-zuju-red-dark"></div>
                <div class="absolute top-0 left-0 right-4 bottom-4">
                  <img class="w-full h-full object-cover" src="/hubfs/statics/assets/trend-2.png" />
                </div>
              </div>
              <div x-bind="animate(-8)">
                <h2 class="text-zuju-red text-sm font-bold uppercase mb-4">Opinion</h2>
                <h1 class="text-white sm:text-xl lg:text-2xl font-gtcond font-black mb-4">Technology will change fan experience and behaviour in Asia..</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </div>
            </a>
          </article>
        </div>
        <div
          x-on:scroll.window="bArt3 = (($vh100 - $top) > 1)"
          class="lg:pt-8 sm:mb-16 transition duration-0 transform translate-y-8 opacity-0"
          x-bind:class="bArt3 &amp;&amp; '!translate-y-0 !opacity-100 !duration-700 lg:!delay-[200ms]'"
        >
          <article x-data="parallax()" x-bind="root">
            <a href="#">
              <div class="relative w-full aspect-w-16 aspect-h-9 mb-8" x-bind="animate(0)">
                <div class="absolute top-4 left-4 right-0 bottom-0 bg-zuju-red-dark"></div>
                <div class="absolute top-0 left-0 right-4 bottom-4">
                  <img class="w-full h-full object-cover" src="/hubfs/statics/assets/trend-3.png" />
                </div>
              </div>
              <div x-bind="animate(0)">
                <h2 class="text-zuju-red text-sm font-bold uppercase mb-4">Local Eye</h2>
                <h1 class="text-white sm:text-xl lg:text-2xl font-gtcond font-black mb-4">
                  Bitter league rivalries, world cup starts and domestic success - all..
                </h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                  <title>Arrow Forward</title>
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100"
                  ></path>
                </svg>
              </div>
            </a>
          </article>
        </div>
        <div
          x-on:scroll.window="bAll = (($vh100 - $top) > 1)"
          class="lg:col-span-3 flex justify-center lg:pt-16 transition duration-0 transform translate-y-8 opacity-0"
          x-bind:class="bAll &amp;&amp; '!translate-y-0 !opacity-100 !duration-700'"
        >
          <a href="/latest">
            <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4">
              {% if content.language.languageTag == "zh-cn" %}
                查看所有文章
              {% else %}
                View All Articles
              {% endif %}
            </button>
          </a>
        </div>
      </div>
    </section>
    <section class="bg-zuju-gray-2 p-8 pb-32">
      <div class="max-w-[1000px] mx-auto">
        {% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
      </div>
    </section>
  </main>
</div>
{% endblock body %}