<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Home
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    {% module "home_tiles"
      path="/zuju-theme/modules/home-tiles",
      label="Banners"
    %}

    {% module "nft_cta_section"
      path="/zuju-theme/modules/nft-cta-section",
      label="Masthead 1"
    %}

    {# Portfolio #}
    {% module "home_manifesto"
      path="/zuju-theme/modules/home-manifesto",
      label="Our Manifesto & Portfolio" %}

      {% module "kfd_banner"
      path="/zuju-theme/modules/kfd-banner-cta",
      label="Masthead 2"
    %}

    {% module "posts_picker"
      path="/zuju-theme/modules/blog-picker",
      label="Latest Blog"
    %}

    <section class="bg-zuju-gray-2 p-8 pb-32">
      <div class="max-w-[1000px] mx-auto">
        {% dnd_area 'dnd_area' label='Main section (Drag and drop)' %} {% end_dnd_area %}
      </div>
    </section>
  </main>
</div>
{% endblock body %}