<!--
    templateType: page
    isAvailableForNewContent: true
    label: Staging - Zuju Statics - Impact
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
		{% module "impact_masthead"
			path="/zuju-theme/modules/impact-masthead",
			label="Masthead"
		%}

		{% module "impact_bg_white"
			path="/zuju-theme/modules/impact-accountability",
			label="Content 1"
		%}

		<section class="bg-zuju-gray-db text-white">
			{% module "impact_bg-dark"
				path="/zuju-theme/modules/impact-bg-dark",
				label="Content 2 (with Gallery)"
			%}

			{# Drag and drop area #}
			{# <div class="w-full max-w-[1000px] mx-auto">
				{% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
			</div> #}

			{# Alliances #}
			{% module "alliances"
				path="/zuju-theme/modules/alliances",
				label="Partners"
			%}
		</section>
	</main>
</div>
{% endblock body %}