<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Landing
-->
{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block header %}
{% endblock header %}

{% block footer %}
{% endblock footer %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    <div
      class="sm:hidden fixed inset-y-0 right-0 z-50 flex flex-col items-center justify-center pr-8"
      x-data="{ show: ($scrollY >= $vh50), overflow: false, active: 1, top: 0, right: 0, share: false }"
      x-on:scroll.window="show = ($scrollY >= $vh50)"
      x-on:floater-overflow.window="overflow = $event.detail"
      x-on:floater-index.window="active = $event.detail"
      x-effect="show == false &amp;&amp; share == false"
    >
      <div
        class="relative w-[42px] bg-zuju-gray-2 rounded-full shadow-lg px-3 transition duration-300 transform translate-x-full opacity-0"
        x-bind:class="(show &amp;&amp; !overflow) &amp;&amp; '!translate-x-0 !opacity-100'"
      >
        <svg
          viewBox="0 0 18 14"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="w-[18px] absolute z-40 transition-all duration-300 ease-out"
          x-bind:style="{ top }"
          x-cloak=""
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#ED2938" stroke="#ED2938"><polygon points="17 7.0046755 9.273566 13 1 10.7009908 3.613411 3.2843148 13.501537 1"></polygon></g>
          </g>
        </svg>
        <div>
          <div
            x-effect="active == 2 &amp;&amp; (top = $el.offsetTop)"
            x-on:click="$dispatch('float-to', 2)"
            class="relative my-8 first:mt-4 last:mb-4 cursor-pointer z-10"
          >
            <svg
              width="18px"
              height="14px"
              viewBox="0 0 18 14"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g stroke="#FFFFFF"><polygon points="17 7.0046755 9.273566 13 1 10.7009908 3.613411 3.2843148 13.501537 1"></polygon></g>
              </g>
            </svg>
            <div
              class="
                absolute
                inset-y-0
                right-full
                flex
                items-center
                text-zuju-gray-9
                font-bold
                uppercase
                pr-8
                transition
                duration-300
                transform
                translate-x-8
                opacity-0
              "
              x-bind:class="active == 2 &amp;&amp; '!translate-x-0 !opacity-100'"
            >
              ZujuGP!
            </div>
          </div>
          <div
            x-effect="active == 3 &amp;&amp; (top = $el.offsetTop)"
            x-on:click="$dispatch('float-to', 3)"
            class="relative my-8 first:mt-4 last:mb-4 cursor-pointer z-10"
          >
            <svg
              width="18px"
              height="14px"
              viewBox="0 0 18 14"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g stroke="#FFFFFF"><polygon points="17 7.0046755 9.273566 13 1 10.7009908 3.613411 3.2843148 13.501537 1"></polygon></g>
              </g>
            </svg>
            <div
              class="
                absolute
                inset-y-0
                right-full
                flex
                items-center
                text-zuju-gray-9
                font-bold
                uppercase
                pr-8
                transition
                duration-300
                transform
                translate-x-8
                opacity-0
              "
              x-bind:class="active == 3 &amp;&amp; '!translate-x-0 !opacity-100'"
            >
              Own&nbsp;Your&nbsp;Place&nbsp;In&nbsp;History
            </div>
          </div>
          <div
            x-effect="active == 4 &amp;&amp; (top = $el.offsetTop)"
            x-on:click="$dispatch('float-to', 4)"
            class="relative my-8 first:mt-4 last:mb-4 cursor-pointer z-10"
          >
            <svg
              width="18px"
              height="14px"
              viewBox="0 0 18 14"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g stroke="#FFFFFF"><polygon points="17 7.0046755 9.273566 13 1 10.7009908 3.613411 3.2843148 13.501537 1"></polygon></g>
              </g>
            </svg>
            <div
              class="
                absolute
                inset-y-0
                right-full
                flex
                items-center
                text-zuju-gray-9
                font-bold
                uppercase
                pr-8
                transition
                duration-300
                transform
                translate-x-8
                opacity-0
              "
              x-bind:class="active == 4 &amp;&amp; '!translate-x-0 !opacity-100'"
            >
              Future&nbsp;Drops
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          group
          relative
          h-[42px]
          w-[42px]
          flex flex-col
          bg-white
          rounded-full
          shadow-lg
          mt-4
          transition-all
          duration-300
          transform
          translate-x-full
          opacity-0
          cursor-pointer
          overflow-y-hidden
        "
        role="button"
        x-bind:class="(show &amp;&amp; !overflow) &amp;&amp; '!translate-x-0 !opacity-100'"
        x-on:click="share = true"
        x-on:click.away="share = false"
        x-on:mouseenter="share = true"
        x-on:mouseleave="share = false"
        x-bind:style="{ height: share ? $px($refs.icons.clientHeight) : null }"
      >
        <div class="absolute top-0 inset-x-0 h-[42px] flex items-center justify-center transition duration-300 group-hover:opacity-0 pointer-events-none">
          <img class="w-[18px]" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/floater-share-icon.png" />
        </div>
        <div
          class="
            flex flex-col
            items-center
            py-4
            opacity-0
            transition
            duration-300
            pointer-events-none
            group-hover:opacity-100 group-hover:pointer-events-auto
          "
          x-ref="icons"
        >
          <a
            target="_blank"
            x-on:click="$share({ uid: '{{ contact.hs_object_id }}', type: 'tw_share' })"
            x-bind:href="`https://twitter.com/intent/tweet?url=${encodeURIComponent(location.href)}`"
          >
            <img class="w-[18px] my-2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/floater-twitter.png" />
          </a>
          <a
            target="_blank"
            x-on:click="$share({ uid: '{{ contact.hs_object_id }}', type: 'fb_share' })"
            x-bind:href="`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(location.href)}`"
          >
            <img class="w-[18px] my-2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/floater-facebook.png" />
          </a>
        </div>
      </div>
    </div>
    <img class="absolute top-0 inset-x-0 z-10 m-4 mx-auto h-12 pointer-events-none" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/landing-logo.png" />
    <section>
      <div
        class="relative h-screen w-full overflow-hidden cursor-pointer"
        x-data="{ init: false, show: false, x: 0, y: 0, top: $top, playing: false }"
        x-init="init = true"
        x-on:scroll.window="top = $top"
        x-on:mousemove.window="show = $el.matches(':hover'); if (show) { x = $event.clientX; y = $event.clientY }"
      >
        <img
          x-cloak=""
          x-show="!init"
          class="absolute z-20 transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
          src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/play-button.png"
        />
        <div
          x-cloak=""
          x-show="show"
          x-transition.duration.500ms.opacity.scale.50=""
          class="touch:hidden sm:hidden absolute z-20 origin-center transition-all duration-200 ease-out pointer-events-none"
          x-bind:style="{ hidden: !init, top: $px(y - top - ($height / 2)), left: $px(x - ($width / 2)) }"
        >
          <img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/play-button.png" />
        </div>
        <video muted="" autoplay="" loop="" class="sm:hidden h-full w-full object-cover object-center opacity-70" x-on:click="playing = true">
          <source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/trailer.mp4" type="video/mp4" />
        </video>
        <div class="hidden sm:block touch:block absolute z-20 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none">
          <img class="sm:h-20 sm:0w-20" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/play-button.png" />
        </div>
        <video muted="" class="lg:hidden h-full w-full object-cover object-center" x-on:click="playing = true">
          <source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/trailer.mp4" type="video/mp4" />
        </video>
        <div
          x-cloak=""
          x-show="playing"
          x-transition.opacity.duration.300ms=""
          class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
          x-on:click="playing = false"
          x-on:keyup.window.escape="playing = false"
        >
          <div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[playing ? 'add' : 'remove']('overflow-hidden')">
            <div class="relative">
              <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="playing = false">×</button>
              <video controls="" x-on:click.stop="" x-effect="playing ? $el.play() : ($el.pause(), $el.currentTime = 0)">
                <source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/trailer.mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white" x-bind="$floaterAnchor(2, { scrollToMid: true })">
      <div class="w-full max-w-[1440px] mx-auto flex justify-center p-8 sm:pt-16 lg:pt-24">
        <div class="lg:w-2/3 flex flex-col" x-data="parallax()" x-bind="root">
          <h1 class="text-zuju-red text-4xl font-bold mb-8" x-bind="animate(8)">ZujuGP!</h1>
          <p class="sm:mb-8 lg:mb-16" x-bind="animate(8)">
            We are born in Asia and raised in the world. Our mission is to elevate fan experience and digitise business in football by building community-driven
            technology to connect everyone - from East to West - with products they love, experiences they want and the opportunities they deserve.
          </p>
          <div class="self-center border-l border-r border-zuju-red h-24 -mb-8"></div>
        </div>
      </div>
    </section>
    <section class="bg-[#1d1d1b]">
      <div
        class="w-full max-w-[1920px] bg-fixed bg-no-repeat bg-center bg-cover mx-auto"
        style="
          background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/network.png),
            radial-gradient(circle closest-side at center, #574969, #1d1d1b 120%);
        "
      >
        <div class="w-full max-w-[1440px] sm:flex sm:flex-col lg:grid lg:grid-cols-12 auto-rows-auto pt-0 p-8 mx-auto">
          <div class="lg:row-start-1 lg:col-start-9 lg:col-span-3 pt-24" x-data="parallax()" x-bind="root">
            <span></span>
            <img class="object-center object-contain sm:mx-auto" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/nft.png" x-bind="animate(24)" />
          </div>
          <div class="lg:row-span-1 lg:col-start-2 lg:col-span-7 pt-24 pr-8 mb-16" x-bind="$floaterAnchor(3)">
            <div x-data="parallax()" x-bind="root">
              <h1 class="text-zuju-red sm:text-lg lg:text-2xl font-bold uppercase mb-2" x-bind="animate(8)">Own Your Place In History</h1>
              <p class="text-white mb-8" x-bind="animate(8)">Bid for LUMINA, the only digital collectible recognised by Cristiano Ronaldo.</p>
              <p class="text-white mb-4" x-bind="animate(8)">
                A 1-of-1 media asset featuring Cristiano Ronaldo in ZujuGP's acclaimed launch commercial,
                <strong class="text-zuju-red">LUMINA</strong>
                is the ultimate trophy for collectors and Cristiano Ronaldo fans. The highest bidder gets to meet Cristiano in person and will receive tickets to
                a Manchester United home game, a 2-night suite stay at Hotel Football next to Old Trafford and many more amazing rewards.
              </p>
              <p class="text-white mb-4" x-bind="animate(8)">Auction time 0600 UCT +8 on 26 October 2021.</p>
              <a href="https://collectibles.zujugp.com/#/auction/228">
                <button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 mb-8" x-bind="animate(8)">
                  Get Yours Now
                </button>
              </a>
            </div>
          </div>
          <div class="lg:row-start-2 lg:col-start-4 lg:col-span-6 text-center mb-16" x-bind="$floaterAnchor(4)">
            <div x-data="parallax()" x-bind="root">
              <h1 class="text-zuju-red sm:text-lg lg:text-2xl font-bold uppercase mb-4" x-bind="animate(0)">
                Future Drops
              </h1>
              <p class="text-white mb-8" x-bind="animate(0)">
                We will also be inviting the ZujuGP community to future exclusive drops where we create innovative ways to digitise fan experience. One such
                reward is to connect fans to their favourite stars such as Cristiano&nbsp;Ronaldo! Stay&nbsp;tuned.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="max-w-[1920px] flex sm:flex-col mx-auto" x-on:scroll.window="$dispatch('floater-overflow', $top <= $vh50)">
        <article class="relative lg:w-1/3">
          <img class="w-full" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/land-1.png" />
          <div class="absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="w-4/5 max-w-[calc(1920px/3/3*2)] text-white sm:text-lg lg:text-2xl font-bold text-center mb-8">
              Bring home our unique&nbsp;merchandises
            </h1>
            <a href="https://shop.zujugp.com/">
              <button class="bg-white text-black sm:text-sm font-bold uppercase rounded px-6 py-4 lg:h-14">
                Visit Shop
              </button>
            </a>
          </div>
        </article>
        <article class="relative lg:w-1/3">
          <img class="w-full" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/land-2.png" />
          <div class="absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="w-4/5 max-w-[calc(1920px/3/3*2)] text-white sm:text-lg lg:text-2xl font-bold text-center mb-8">
              Get rewarded with loyalty points with our daily task&nbsp;challenges
            </h1>
            <a href="{{ content_by_id(56393738550).absolute_url }}">
              <button class="bg-white text-black sm:text-sm font-bold uppercase rounded px-6 py-4 lg:h-14">
                Register With Us
              </button>
            </a>
          </div>
        </article>
        <article class="relative lg:w-1/3">
          <img class="w-full" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/land-3.png" />
          <div class="absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="w-4/5 max-w-[calc(1920px/3/3*2)]/3 text-white sm:text-lg lg:text-2xl font-bold text-center mb-8">
              Never miss and get your latest sports&nbsp;updates
            </h1>
            <a href="{{ content_by_id(55380670098).absolute_url }}">
              <button class="bg-white text-black sm:text-sm font-bold uppercase rounded px-6 py-4 lg:h-14">
                Read Latest News
              </button>
            </a>
          </div>
        </article>
      </div>
    </section>
    <section class="relative bg-white flex flex-col items-center justify-center p-8 sm:pb-6 lg:pt-12">
      <svg
        width="60px"
        height="20px"
        viewBox="0 0 60 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="absolute top-0 transform translate-y-[calc(-100%+1px)]"
      >
        <g stroke="none" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd"><polygon points="30 0 60 20 0 20"></polygon></g>
      </svg>
      <img class="lg:h-9 sm:w-full object-contain" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/hashtag.png" />
      <p class="text-zuju-gray-6 text-sm sm:mt-4 lg:mt-8">© 2021 Mint Media Sports Limited</p>
    </section>
  </main>
</div>
{% endblock body %}
