<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Partnerships
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
	<main class="bg-zuju-gray-1" x-data="{}">
		<section x-data="{ noti: false }">
			<div class="relative max-w-[1440px] min-h-screen flex justify-center mx-auto py-16" x-data="parallax()" x-bind="root">
				<div class="absolute inset-0">
					<img
						class="h-full w-full object-cover object-center"
						src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/partnerships-masthead.jpg"
					/>
				</div>
				<div class="relative flex flex-col items-center justify-center sm:p-8">
					<h1 class="text-white text-6xl font-gtcond font-black text-center mb-16" x-bind="animate(24)">
						{% if content.language.languageTag == "zh-cn" %}
							合作
						{% else %}
							Partnerships
						{% endif %}
					</h1>
					<div class="flex sm:flex-col items-start justify-center">
						<div class="lg:w-1/2 px-8 mb-16">
							<p class="text-white mb-8">
								{% if content.language.languageTag == "zh-cn" %}
									蹴蹴ZujuGP拥有丰富的资源，有能力满足现今科技驱动型足球体系背后所蕴含的巨大需求。
									在对足球的热情之下，蹴蹴ZujuGP也给投资者提供绝佳的增长机会，我们持续关注行业内的直接投资与共同投资机会。
								{% else %}
									ZujuGP provides game changing founder support to answer the large demand for a tech-driven football ecosystem globally. For investors
									we provide exposure to the best growth opportunities in a space united by a fervent love for the beautiful game. ZujuGP is focused on
									growth with a blend of direct and co-investments.
								{% endif %}
							</p>
							<p class="text-white mb-8">
								{% if content.language.languageTag == "zh-cn" %}
									我们欢迎有识之士和我们一起将足球推向数字化的未来。
								{% else %}
									We welcome visionaries who share our desire to advance football's transition to a digital future.
								{% endif %}
							</p>
							<button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4" x-on:click="noti = true">
								{% if content.language.languageTag == "zh-cn" %}
									联系我们
								{% else %}
									Contact Us Now
								{% endif %}
							</button>
						</div>
						<div class="lg:w-1/4 flex items-stretch px-8 mb-8">
              <div class="bg-zuju-red w-2 flex-shrink-0 rounded-full mr-8" />
              <div>
                <h1 class="text-white text-2xl font-gtcond font-black mb-8"><img class="inline h-8 mr-4" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/icon-cuju.png" />
									{% if content.language.languageTag == "zh-cn" %}
										你知道吗？
									{% else %}
										Did you know?
									{% endif %}
								</h1>
                <p class="text-white">
									{% if content.language.languageTag == "zh-cn" %}
										蹴蹴这个名字来源于蹴鞠 — 项被公认为是最早足球形式的中国古代运动。
									{% else %}
										Zuju is a play on the name Cuju, an ancient Chinese game widely recognized as the earliest recorded form of football.
									{% endif %}
								</p>
              </div>
            </div>
					</div>
				</div>
			</div>
			<div
        x-cloak=""
        x-show="noti"
        x-transition.opacity.duration.300ms=""
        class="fixed inset-0 bg-black/90 z-[999]"
        x-on:click="noti = false"
        x-on:keyup.window.escape="noti = false"
      >
        <div class="h-screen w-full flex items-start py-16 justify-center overflow-y-scroll" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
          <div class="relative AP-form-wrapper">
            <button class="absolute top-0 right-0 transform -translate-y-full text-white pb-2" x-on:click="noti = false">
							<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.35783 1.35787L29.6421 29.6421" stroke="currentcolor" stroke-linecap="square"></path>
								<path d="M29.6421 1.35786L1.35783 29.6421" stroke="currentcolor" stroke-linecap="square"></path>
							</svg>
						</button>
            <div x-on:click.stop="" class="AP-form bg-white">
							<h1 class="text-4xl mobile:text-2xl font-bold text-center pt-8 mb-4">
								{% if content.language.languageTag == "zh-cn" %}
									合作咨询
								{% else %}
									Partnership Enquiry
								{% endif %}
							</h1>
							{% module "form" path="@hubspot/form" %}
						</div>
          </div>
        </div>
      </div>
		</section>
	</main>
</div>
{% endblock body %}