<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Portfolio Gameplay
-->
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    
    
    <!--
      {#    
      <section x-data="{ playing: false, noti: false }">
            <div class="relative max-w-[1440px] min-h-screen flex justify-center mx-auto py-16" x-data="parallax()" x-bind="root">
              <div class="absolute inset-0"><img class="h-full w-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-mast.png" /></div>
              <div class="relative flex flex-col items-center justify-center sm:p-8">
                <img class="h-16 mb-16" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-logo.png" x-bind="animate(16)" />
                <h1 class="text-white text-6xl font-gtcond font-black text-center mb-16" x-bind="animate(24)">
                  {% if content.language.languageTag == "zh-cn" %}
                  史诗般的LIVE游戏
                  {% else %}
                  The LIVE game gets epic.
                  {% endif %}
                </h1>
                <p class="text-white lg:w-1/2 text-center mb-8" x-bind="animate(16)">
                  {% if content.language.languageTag == "zh-cn" %}
                  在一个高速运转且跨越现实世界和数字世界的经济体里，我们即将推出一个同步、沉浸且协作的空&#8288;间。
                  {% else %}
                  We will be launching a space at once synchronous, immersive and collaborative in a fully-functioning economy that spans the real and digital worlds.
                  {% endif %}
                </p>
                <div class="lg:h-20 lg:-mx-4" x-bind="animate(8)">
                  <button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4" x-on:click="noti = true">
                    {% if content.language.languageTag == "zh-cn" %}
                    得到通知
                    {% else %}
                    Get Notified
                    {% endif %}
                  </button>
                  <button
                    class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4"
                    x-on:click="playing = true"
                  >
                    {% if content.language.languageTag == "zh-cn" %}
                    观看视频
                    {% else %}
                    Watch Video
                    {% endif %}
                  </button>
                </div>
              </div>
            </div>
            <div
              x-cloak=""
              x-show="playing"
              x-transition.opacity.duration.300ms=""
              class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
              x-on:click="playing = false"
              x-on:keyup.window.escape="playing = false"
            >
              <div class="h-full w-full flex items-center" x-effect="document.body.classList[playing ? 'add' : 'remove']('overflow-hidden')">
                <div class="relative">
                  <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="playing = false">×</button>
                  <video controls="" x-on:click.stop="" x-effect="playing ? $el.play() : ($el.pause(), $el.currentTime = 0)">
                    <source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/gameplay.mp4" />
                  </video>
                </div>
              </div>
            </div>
            <div
              x-cloak=""
              x-show="noti"
              x-transition.opacity.duration.300ms=""
              class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
              x-on:click="noti = false"
              x-on:keyup.window.escape="noti = false"
            >
              <div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
                <div class="relative sm:w-full">
                  <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="noti = false">×</button>
                  <div x-on:click.stop="" class="STO-gpform bg-white">{% module "form" path="@hubspot/form" %}</div>
                </div>
              </div>
            </div>
          </section>
      #}
      -->   
    <!-- Portfolio Gameplay Header -->
    <section x-data="{ playing: false, noti: false }">
      
      {% module "module_16357377044293" 
      path='/zuju-theme/modules/portfolio-gameplay-header', 
      label="Gameplay Header" %}
      
      <div
        x-cloak=""
        x-show="noti"
        x-transition.opacity.duration.300ms=""
        class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
        x-on:click="noti = false"
        x-on:keyup.window.escape="noti = false"
      >
        <div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
          <div class="relative sm:w-full">
            <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="noti = false">×</button>
            <div x-on:click.stop="" class="STO-gpform bg-white">{% module "form" path="@hubspot/form" %}</div>
          </div>
        </div>
      </div>
    </section>
 
    <!--
  {#
    <section class="bg-white">
      <div class="max-w-[1440px] flex sm:flex-col overflow-hidden mx-auto" x-data="parallax()" x-bind="root">
        <div class="lg:w-2/3 p-8 pb-0"><img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-hero.png" /></div>
        <div class="lg:w-1/3 flex flex-col justify-center p-8">
          <h1 class="lg:w-3/4 sm:text-4xl text-5xl font-gtcond font-black sm:text-center mb-8" x-bind="animate(16)">
            {% if content.language.languageTag == "zh-cn" %}
            建造你自己的足球世界
            {% else %}
            Build your own Footballverse.
            {% endif %}
          </h1>
          <p class="lg:w-3/4 sm:text-center" x-bind="animate(8)">
            
            {% if content.language.languageTag == "zh-cn" %}
            邀请朋友加入你的<strong>私人专属房间</strong>！你在这里主持、评论、赚取额外的收入、甚至是进行社交或者商务会谈等等
            {% else %}
            Invite friends to your
            <strong>private Owner's Box</strong>
            where you can host, commentate, earn extra income, conduct social commerce, chat and more.
            {% endif %}
          </p>
        </div>
      </div>
    </section>
    #}
    -->
    <!-- Portfolio Gameplay image text -->
    {% module "module_163573252470355" 
      path='/zuju-theme/modules/portfolio-gameplay-image-and-text', 
      label="Gameplay Image And Text" %}
    
 
    <!--
    {#
    <section class="bg-zuju-gray-db">
      <div class="max-w-[1440px] grid sm:grid-rows-[auto,auto] sm:grid-cols-1 lg:grid-cols-12 mx-auto overflow-hidden" x-data="parallax()" x-bind="root">
        <div class="relative z-20 row-start-1 sm:col-start-1 lg:col-start-6 lg:col-span-7 flex items-center justify-center p-8">
          <img class="sm:w-full sm:max-w-md" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-gallery.png" x-bind="animate(24)" />
        </div>
        <div class="relative z-20 sm:row-start-2 sm:col-start-1 lg:row-start-1 lg:col-start-2 lg:col-span-4 flex flex-col justify-center p-8">
          <h1 class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black sm:text-center lg:text-right mb-8" x-bind="animate(8)">
            {% if content.language.languageTag == "zh-cn" %}
            加入由您喜爱的明星或者主办品牌所设立的房间
            {% else %}
            Join a public Gallery hosted by your idol or favourite brand
            {% endif %}
          </h1>
          <p class="text-white sm:text-center lg:text-right" x-bind="animate(8)">
            {% if content.language.languageTag == "zh-cn" %}
            获得专门的体验 – 包括直播、探访更衣室、独家内幕、特别产品以及相关优惠。
            {% else %}
            Access an experience exclusive to them - from live stream, locker room access, unique content, merchandise and special offers to interactions within a shared community.
            {% endif %}
          </p>
        </div>
        <div class="relative z-10 sm:row-start-1 sm:row-span-2 sm:col-start-1 lg:row-start-1 lg:col-start-1 lg:col-span-6 flex items-center justify-center pt-8">
          <img class="sm:w-full sm:max-w-md" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-8)" />
        </div>
      </div>
    </section>    
    #}
    -->
    <!-- Portfolio Gameplay image text dark -->
    {% module "module_163573886510730" path="/zuju-theme/modules/portfolio-gameplay-image-and-text-dark", label="Gameplay Image and Text Dark" %}
    
    <!-- PROD -->
    {#
    <section class="bg-zuju-gray-db">
      <div
        class="max-w-[1440px] flex flex-col items-center justify-center bg-center sm:bg-contain lg:bg-cover bg-no-repeat mx-auto sm:px-8 py-24"
        style="background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-effect.png)"
        x-data="parallax()"
        x-bind="root"
      >
        <div class="sm:w-full sm:max-w-md">
          {% if content.language.languageTag == "zh-cn" %}
            <img class="lg:w-96 mb-8" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-heading-cn.gif" title="Highly Immersive" alt="Highly Immersive" x-bind="animate(8)" />
          {% else %}
            <img class="lg:w-96 mb-8" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-heading.gif" title="Highly Immersive" alt="Highly Immersive" x-bind="animate(8)" />
          {% endif %}
        </div>
        <p class="hidden lg:w-1/2 text-white text-xl font-bold lg:text-center mb-8" x-bind="animate(4)">
          {% if content.language.languageTag == "zh-cn" %}
          高度沉浸的。交互的。及时的。娱乐的。数据丰富的。个性化的。社交的。可购物的。可变现的。
          {% else %}
          Interactive. Instant. Entertainment. Data rich. Personalised. Social. Shoppable. Monetisable.
          {% endif %}
        </p>
        <p class="lg:w-1/2 text-white lg:text-center sm:mb-16 lg:mb-24">
          {% if content.language.languageTag == "zh-cn" %}
          蹴蹴游戏空间可以在内容、数据和数字资产间向您提供前所未有的交互模式，它由数以万计的创造者和经营者贡献的宝贵经验而组成 - 从个人到非正式组织，再到企业和品牌。每个人都可以参与其中，每个人也都从中受益，每个人都会最终成为蹴蹴游戏愿景中的一部分。
          {% else %}
          ZujuGamePlay will offer unprecedented interoperability between content, data and digital assets, framed by experiences created and operated by a wide
          range of contributors - from individuals to informally organised groups to brands and enterprises. Everyone can participate. Everyone can benefit. And
          everyone can be a part of building out the vision that is ZujuGamePlay.
          {% endif %}
        </p>
        <h2 class="text-zuju-red sm:text-4xl lg:text-5xl font-gtcond font-black mb-16" x-bind="animate(4)">
          {% if content.language.languageTag == "zh-cn" %}
          查看所有文章
          {% else %}
          Coming soon.
          {% endif %}
        </h2>
        <div class="w-full max-w-[1000px] mx-auto">
          {% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
        </div>
      </div>
    </section>
    #}
    
    <!-- Portfolio Gameplay image text red -->
    
    <section class="bg-zuju-gray-db">
      {% module "module_163574614144543" path="/zuju-theme/modules/portfolio-gameplay-image-and-text-red", label="Gameplay Image and Text Red" %}
      <div class="w-full max-w-[1000px] mx-auto">
        {% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
      </div>
      </div>
    </section>

    
    
    <section class="pb-32">
      <div class="max-w-[1440px] mx-auto">
        <div class="sm:hidden flex">
          <div class="lg:w-1/2">
            <a href="/portfolio/zujugp-exchange">
              <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                <div>
                  <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-exchange.png" />
                  <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                    <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴交换空间
                      {% else %}
                      ZujuGP Exchange
                      {% endif %}
                    </h1>
                    <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                      {% else %}
                      Our AI-powered and automated global job search app
                      {% endif %}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                      <title>Arrow Forward</title>
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="lg:w-1/2">
            <a href="/portfolio/zujugp-rank">
              <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                <div>
                  <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-rank.jpg" />
                  <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                    <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴探索空间
                      {% else %}
                      ZujuGP Rank
                      {% endif %}
                    </h1>
                    <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴探索空间
                      {% else %}
                      Blockchain and AI-enabled talent development &amp; recruitment app
                      {% endif %}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                      <title>Arrow Forward</title>
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:hidden sm:w-full sm:max-w-md pb-4 mx-auto">
          <div class="glide pb-8" x-data="{}" x-init="new Glide($el).mount()">
            <div class="glide__track" data-glide-el="track">
              <div class="glide__slides">
                <div class="glide__slide">
                  <div class="">
                    <div>
                      <div class="lg:w-1/2">
                        <a href="/portfolio/zujugp-exchange">
                          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                            <div>
                              <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-exchange.png" />
                              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴交换空间
                                  {% else %}
                                  ZujuGP Exchange
                                  {% endif %}
                                </h1>
                                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                                  {% else %}
                                  Our AI-powered and automated global job search app
                                  {% endif %}
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                                  <title>Arrow Forward</title>
                                  <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                  ></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glide__slide">
                  <div class="">
                    <div>
                      <div class="lg:w-1/2">
                        <a href="/portfolio/zujugp-rank">
                          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                            <div>
                              <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-rank.jpg" />
                              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴探索空间
                                  {% else %}
                                  ZujuGP Rank
                                  {% endif %}
                                </h1>
                                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴探索空间
                                  {% else %}
                                  Blockchain and AI-enabled talent development &amp; recruitment app
                                  {% endif %}
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                                  <title>Arrow Forward</title>
                                  <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                  ></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
              <button class="glide__bullet" data-glide-dir="=0"></button>
              <button class="glide__bullet" data-glide-dir="=1"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio-gameplay-articles -->
    
    
  </main>
</div>

{% endblock body %}