<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Portfolio Exchange
-->
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
	<main class="bg-zuju-gray-1" x-data="{}">
		<section class="bg-zuju-gray-db" x-data="{ playing: false, noti: false }">
			<div class="relative max-w-[1440px] min-h-screen flex justify-center mx-auto py-16" x-data="parallax()" x-bind="root">
				<div class="absolute inset-0">
					<div class="sm:aspect-w-16 sm:aspect-h-9">
						<div><img class="h-full w-full object-cover object-center" src="/hubfs/statics/assets/exchange-mast.png" /></div>
					</div>
				</div>
				<div class="relative flex flex-col items-center justify-center sm:p-8">
					<img class="sm:h-10 lg:h-16 mb-16" src="/hubfs/statics/assets/exchange-logo.png" x-bind="animate(16)" />
					<h1 class="lg:w-1/2 text-white sm:text-5xl lg:text-6xl font-gtcond font-black text-center mb-16" x-bind="animate(24)">
            {% if content.language.languageTag == "zh-cn" %}
            我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
            {% else %}
            AI-Powered &amp; automated job search app.
            {% endif %}
					</h1>
					<p class="text-white lg:w-5/12 text-center mb-8" x-bind="animate(16)">
						{% if content.language.languageTag == "zh-cn" %}
            一个集合全球人才、专家和招聘俱乐部的庞大数据库。通过接入我们的网络 – 您可以在世界上任何地方查找或发布相关工作。转会、交易、费用和记录都处在最新技术的保护之下。蹴蹴交换空间提供独一无二的易用性和高效率。
            {% else %}
            A global database of talents, professionals and hiring clubs. Plug into our worldwide network - find or post a job anywhere in the world. Transfers,
						fees and records are secured with the latest technology. Designed for ease-of-use and fee-efficiency. Only on ZujuGP Exchange.
            {% endif %}
					</p>
					<div class="lg:h-20 lg:-mx-4" x-bind="animate(8)">
						<button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4" x-on:click="noti = true">
              {% if content.language.languageTag == "zh-cn" %}
              得到通知
              {% else %}
              Get Notified
              {% endif %}
						</button>
						<button
							class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4"
							x-on:click="playing = true"
						>
              {% if content.language.languageTag == "zh-cn" %}
              观看视频
              {% else %}
              Watch Video
              {% endif %}
						</button>
					</div>
				</div>
			</div>
			<div
				x-cloak=""
				x-show="playing"
				x-transition.opacity.duration.300ms=""
				class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
				x-on:click="playing = false"
				x-on:keyup.window.escape="playing = false"
			>
				<div class="h-full w-full flex items-center" x-effect="document.body.classList[playing ? 'add' : 'remove']('overflow-hidden')">
					<div class="relative">
						<button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="playing = false">×</button>
						<video controls="" x-on:click.stop="" x-effect="playing ? $el.play() : ($el.pause(), $el.currentTime = 0)">
							<source src="/hubfs/statics/exchange.mp4" />
						</video>
					</div>
				</div>
			</div>
			<div
				x-cloak=""
				x-show="noti"
				x-transition.opacity.duration.300ms=""
				class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
				x-on:click="noti = false"
				x-on:keyup.window.escape="noti = false"
			>
				<div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
					<div class="relative">
						<button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="noti = false">×</button>
						<div x-on:click.stop="" class="STO-gpform bg-white">{% module "form" path="@hubspot/form" %}</div>
					</div>
				</div>
			</div>
		</section>
		<section class="relative bg-zuju-gray-db pb-16">
			<div class="max-w-[1440px] lg:grid grid-cols-12 mx-auto sm:p-8 lg:pb-16" x-data="parallax()" x-bind="root">
				<div class="row-start-1 col-start-1 col-span-8 flex items-center sm:-mx-8 sm:mb-16"><img src="/hubfs/statics/assets/exchange-laptop.png" /></div>
				<div class="row-start-1 col-start-8 col-span-5 border-l-2 border-zuju-red sm:pl-4 lg:pl-16">
					<article class="mb-24">
						<h2 class="text-zuju-red uppercase mb-8" x-bind="animate(12)">
              {% if content.language.languageTag == "zh-cn" %}
              足球俱乐部
              {% else %}
              Football Clubs
              {% endif %}
            </h2>
						<h1 class="lg:w-3/5 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-16" x-bind="animate(16)">
							{% if content.language.languageTag == "zh-cn" %}
              将你的招聘流程自动化、简单化
              {% else %}
              Simplify and automate your hiring process
              {% endif %}
						</h1>
						<p class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              节省设置招聘对象的时间
              {% else %}
              Save time to set up who you're hiring
              {% endif %}
            </p>
						<p class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              通过我们的全球网络接触到更多候选人
              {% else %}
              Reach more candidates through our global network
              {% endif %}
            </p>
						<p class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              在您的概览页上轻松地管理您的候选人
              {% else %}
              Manage your candidates easily on your dashboard
              {% endif %}
            </p>
					</article>
					<article class="mb-16">
						<h2 class="text-zuju-red uppercase mb-8" x-bind="animate(12)">
              {% if content.language.languageTag == "zh-cn" %}
              职业足球
              {% else %}
              Football Professionals
              {% endif %}
            </h2>
						<h1 class="lg:w-3/5 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-16" x-bind="animate(16)">
              {% if content.language.languageTag == "zh-cn" %}
              职业足球
              {% else %}
              Get a job anywhere in the world
              {% endif %}
            </h1>
						<div class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              以专业的简历增加你的机会
              {% else %}
              Improve your chances with a professional looking CV
              {% endif %}
            </div>
						<div class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              通过我们的全球网络发现更多机遇
              {% else %}
              More choices through our global network
              {% endif %}
            </div>
						<div class="text-white mb-8" x-bind="animate(8)">
              {% if content.language.languageTag == "zh-cn" %}
              无缝对接的面试流程
              {% else %}
              Seamless interview process
              {% endif %}
            </div>
					</article>
				</div>
			</div>
			<div class="max-w-[1440px] flex sm:flex-col lg:flex-wrap mx-auto" x-data="parallax()" x-bind="root">
				<div class="lg:w-1/3 relative">
					<div class="absolute inset-0 flex items-center justify-center">
						<img class="h-3/5" src="/hubfs/statics/assets/exchange-t1.png" x-bind="animate(8)" />
					</div>
					<img src="/hubfs/statics/assets/exchange-i1.png" />
				</div>
				<div class="lg:w-1/3 relative">
					<div class="absolute inset-0 flex items-center justify-center">
						<img class="h-3/5" src="/hubfs/statics/assets/exchange-t2.png" x-bind="animate(8)" />
					</div>
					<img src="/hubfs/statics/assets/exchange-i2.png" />
				</div>
				<div class="lg:w-1/3 relative">
					<div class="absolute inset-0 flex items-center justify-center">
						<img class="h-3/5" src="/hubfs/statics/assets/exchange-t3.png" x-bind="animate(8)" />
					</div>
					<img src="/hubfs/statics/assets/exchange-i3.png" />
				</div>
			</div>
			<div class="w-full py-16">
				<p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
          {% if content.language.languageTag == "zh-cn" %}
          每个人都可以<span class="text-zuju-red">参与</span>。
          {% else %}
          Everyone can
					<span class="text-zuju-red">participate.</span>
          {% endif %}
				</p>
				<p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
          {% if content.language.languageTag == "zh-cn" %}
          每个人也<span class="text-zuju-red">从中获益</span>。
          {% else %}
          Everyone can
					<span class="text-zuju-red">benefit.</span>
          {% endif %}
				</p>
			</div>
			<div class="w-full max-w-[1000px] mx-auto">
				{% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
			</div>
		</section>
		<section class="pb-32">
			<div class="max-w-[1440px] mx-auto">
				<div class="sm:hidden flex">
					<div class="lg:w-1/2">
            <a href="
                     {% if content.language.languageTag == "zh-cn" %}
                     /zh-cn/portfolio/zujugameplay
                     {% else %}
                     /portfolio/zujugameplay
                     {% endif %}
                     ">
							<div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
								<div>
									<img class="w-full h-full object-cover object-center" src="/hubfs/statics/assets/more-gameplay.png" />
									<div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
										<h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴游戏空间
                      {% else %}
                      ZujuGamePlay
                      {% endif %}
                    </h1>
										<p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      数字化的LIVE游戏体验
                      {% else %}
                      Digitised Live game experience
                      {% endif %}
                    </p>
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
											<title>Arrow Forward</title>
											<path
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="48"
												d="M268 112l144 144-144 144M392 256H100"
											></path>
										</svg>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="lg:w-1/2">
            <a href="
                     {% if content.language.languageTag == "zh-cn" %}
                     /zh-cn/portfolio/zujugp-rank
                     {% else %}
                     /portfolio/zujugp-rank
                     {% endif %}
                     ">
							<div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
								<div>
									<img class="w-full h-full object-cover object-center" src="/hubfs/statics/assets/more-rank.png" />
									<div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
										<h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴探索空间
                      {% else %}
                      ZujuGP Rank
                      {% endif %}
                    </h1>
										<p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                      {% else %}
                      Blockchain and AI-enabled talent development &amp; recruitment app
                      {% endif %}
                    </p>
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
											<title>Arrow Forward</title>
											<path
												fill="none"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="48"
												d="M268 112l144 144-144 144M392 256H100"
											></path>
										</svg>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="lg:hidden sm:w-full sm:max-w-md pb-4 mx-auto">
					<div class="glide pb-8" x-data="{}" x-init="new Glide($el).mount()">
						<div class="glide__track" data-glide-el="track">
							<div class="glide__slides">
								<div class="glide__slide">
									<div class="">
										<div>
											<div class="lg:w-1/2">
                        <a href="
                                 {% if content.language.languageTag == "zh-cn" %}
                                 /zh-cn/portfolio/zujugameplay
                                 {% else %}
                                 /portfolio/zujugameplay
                                 {% endif %}
                                 ">
													<div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
														<div>
															<img class="w-full h-full object-cover object-center" src="/hubfs/statics/assets/more-gameplay.png" />
															<div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
																<h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴游戏空间
                                  {% else %}
                                  ZujuGamePlay
                                  {% endif %}
                                </h1>
																<p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  数字化的LIVE游戏体验
                                  {% else %}
                                  Digitised Live game experience
                                  {% endif %}
                                </p>
																<svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
																	<title>Arrow Forward</title>
																	<path
																		fill="none"
																		stroke="currentColor"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		stroke-width="48"
																		d="M268 112l144 144-144 144M392 256H100"
																	></path>
																</svg>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="glide__slide">
									<div class="">
										<div>
											<div class="lg:w-1/2">
                        <a href="
                                 {% if content.language.languageTag == "zh-cn" %}
                                 /zh-cn/portfolio/zujugp-rank
                                 {% else %}
                                 /portfolio/zujugp-rank
                                 {% endif %}
                                 ">
													<div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
														<div>
															<img class="w-full h-full object-cover object-center" src="/hubfs/statics/assets/more-rank.png" />
															<div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
																<h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴探索空间
                                  {% else %}
                                  ZujuGP Rank
                                  {% endif %}
                                </h1>
																<p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                                  {% else %}
                                  Blockchain and AI-enabled talent development &amp; recruitment app
                                  {% endif %}
                                </p>
																<svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
																	<title>Arrow Forward</title>
																	<path
																		fill="none"
																		stroke="currentColor"
																		stroke-linecap="round"
																		stroke-linejoin="round"
																		stroke-width="48"
																		d="M268 112l144 144-144 144M392 256H100"
																	></path>
																</svg>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
							<button class="glide__bullet" data-glide-dir="=0"></button>
							<button class="glide__bullet" data-glide-dir="=1"></button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	
</div>
{% endblock body %}