<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Portfolio Rank
-->
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    
    <!-- PROD -->
    <!--
    {#
      <section class="bg-zuju-gray-db" x-data="{ playing: false, noti: false }">
        <div class="relative max-w-[1440px] min-h-screen flex justify-center mx-auto py-16" x-data="parallax()" x-bind="root">
          <div class="absolute inset-0">
            <div class="sm:aspect-w-16 sm:aspect-h-9">
              <div><img class="h-full w-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/rank-mast.jpg" /></div>
            </div>
          </div>
          <div class="relative flex flex-col items-center justify-center sm:p-8">
            <img class="sm:h-10 lg:h-16 mb-16" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/rank-logo.png" x-bind="animate(16)" />
            <h1 class="lg:w-1/2 text-white sm:text-5xl lg:text-6xl font-gtcond font-black text-center mb-16" x-bind="animate(24)">
              {% if content.language.languageTag == "zh-cn" %}
              世界级的数字化学院
              {% else %}
              World-class digital academy
              {% endif %}
            </h1>
            <p class="text-white lg:w-5/12 text-center mb-8" x-bind="animate(16)">
              {% if content.language.languageTag == "zh-cn" %}
              与世界上最好的、最卓越的足球专家和足球学院一起训练。从专业训练课程、到特定位置的培训、再到营养和康复的指导。蹴蹴探索空间就是您口袋里的世界级数字化足球学院！
              {% else %}
              Check in for exceptional performance training with the world's best football experts and academies. From professional drills, specialist training
              for specific positions to mentoring, nutrition and rehabilitative conditioning. ZujuGP Rank is a world-class digital academy in your pocket.
              {% endif %}
            </p>
            <div class="lg:h-20 lg:-mx-4" x-bind="animate(8)">
              <button class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4" x-on:click="noti = true">
                {% if content.language.languageTag == "zh-cn" %}
                得到通知
                {% else %}
                Get Notified
                {% endif %}
              </button>
              <button
                class="bg-zuju-red text-white sm:text-sm font-bold uppercase rounded px-6 py-4 sm:block sm:mx-auto sm:mb-8 lg:mx-4"
                x-on:click="playing = true"
              >
                {% if content.language.languageTag == "zh-cn" %}
                观看视频
                {% else %}
                Watch Video
                {% endif %}
              </button>
            </div>
          </div>
        </div>
        <div
          x-cloak=""
          x-show="playing"
          x-transition.opacity.duration.300ms=""
          class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
          x-on:click="playing = false"
          x-on:keyup.window.escape="playing = false"
        >
          <div class="h-full w-full flex items-center" x-effect="document.body.classList[playing ? 'add' : 'remove']('overflow-hidden')">
            <div class="relative sm:w-full">
              <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="playing = false">×</button>
              <video controls="" x-on:click.stop="" x-effect="playing ? $el.play() : ($el.pause(), $el.currentTime = 0)">
                <source src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/rank.mp4" />
              </video>
            </div>
          </div>
        </div>
        <div
          x-cloak=""
          x-show="noti"
          x-transition.opacity.duration.300ms=""
          class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
          x-on:click="noti = false"
          x-on:keyup.window.escape="noti = false"
        >
          <div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
            <div class="relative sm:w-full">
              <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="noti = false">×</button>
              <div x-on:click.stop="" class="STO-gpform bg-white">{% module "form" path="@hubspot/form" %}</div>
            </div>
          </div>
        </div>
      </section>
    #}
    -->
    
    <!-- Rank Header -->
    <section class="bg-zuju-gray-db" x-data="{ playing: false, noti: false }">
      {% module "module_1635770041041154" path="/zuju-theme/modules/portfolio-rank-header", label="Header" %}
      <div
           x-cloak=""
           x-show="noti"
           x-transition.opacity.duration.300ms=""
           class="fixed inset-0 bg-black/90 z-50 sm:p-4 lg:p-24"
           x-on:click="noti = false"
           x-on:keyup.window.escape="noti = false"
           >
        <div class="h-full w-full flex items-center justify-center" x-effect="document.body.classList[noti ? 'add' : 'remove']('overflow-hidden')">
          <div class="relative sm:w-full">
            <button class="absolute top-0 right-0 transform -translate-y-full text-white text-4xl" x-on:click="noti = false">×</button>
            <div x-on:click.stop="" class="STO-gpform bg-white">{% module "form" path="@hubspot/form" %}</div>
          </div>
        </div>
      </div>
    </section>
  

    <!-- PROD -->
    <section class="bg-zuju-gray-db">
      <article class="relative max-w-[1440px] grid sm:grid-rows-2 lg:grid-cols-2 mx-auto" x-data="parallax()" x-bind="root">
        <div><img class="h-full w-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/rank-hero.jpg" /></div>
        <div class="relative bg-zuju-red flex flex-col items-center justify-center p-8 sm:py-16">
          <div class="absolute inset-0 flex items-center justify-center p-8">
            <img class="lg:w-1/2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-8)" />
          </div>
          <h1 class="lg:w-3/4 relative text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-8" x-bind="animate(16)">
            {% if content.language.languageTag == "zh-cn" %}
            及时接触到全球范围内足球领域的人才
            {% else %}
            Instant access to global football talents
            {% endif %}
          </h1>
          <p class="lg:w-3/4 relative text-white text-center" x-bind="animate(8)">
            {% if content.language.languageTag == "zh-cn" %}
            球探们将拥有一个实时的、覆盖全球的足球人才数据库。其中包括完整的视频、球员统计和各类数据。所有的信息将通过区块链技术加以保护。
            {% else %}
            Scouts now have instant access to a hyperledger of global football talents. Complete with videos, player aggregated statistics and augmented data.
            Don't worry about your intel, it's secured with blockchain enabled technology.
            {% endif %}
          </p>
        </div>
      </article>
      <div class="max-w-[1440px] mx-auto pb-16">
        <div class="w-full py-16">
          <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
            {% if content.language.languageTag == "zh-cn" %}
            每个人都可以<span class="text-zuju-red">参与</span>。
            {% else %}
            Everyone can
            <span class="text-zuju-red">participate.</span>
            {% endif %}
          </p>
          <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
            {% if content.language.languageTag == "zh-cn" %}
            每个人也<span class="text-zuju-red">从中获益</span>。
            {% else %}
            Everyone can
            <span class="text-zuju-red">benefit.</span>
            {% endif %}
          </p>
        </div>
        <div class="w-full max-w-[1000px] mx-auto">
          <!-- <div class="aspect-w-4 aspect-h-1">
  <div class="flex items-center justify-center bg-blue-200 text-white font-bold">Ad Space</div>
  </div> -->
          {% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
        </div>
      </div>
    </section>
    
    <!-- Rank Image and Text -->
    {#
    <section class="bg-zuju-gray-db">
    
    
  <div class="max-w-[1440px] mx-auto pb-16">
    
    <div class="w-full py-16">
      <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
        {% if content.language.languageTag == "zh-cn" %}
        每个人都可以<span class="text-zuju-red">参与</span>。
        {% else %}
        Everyone can
        <span class="text-zuju-red">participate.</span>
        {% endif %}
      </p>
      <p class="text-white sm:text-4xl lg:text-5xl font-gtcond font-black text-center mb-2">
        {% if content.language.languageTag == "zh-cn" %}
        每个人也<span class="text-zuju-red">从中获益</span>。
        {% else %}
        Everyone can
        <span class="text-zuju-red">benefit.</span>
        {% endif %}
      </p>
    </div>
    
    <div class="w-full max-w-[1000px] mx-auto">
      <!-- <div class="aspect-w-4 aspect-h-1">
        <div class="flex items-center justify-center bg-blue-200 text-white font-bold">Ad Space</div>
      </div> -->
      {% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}
    </div>
  </div>
</section>
    #}
    
    <!-- PROD -->
    <!-- {#
    <section class="pb-32">
      <div class="max-w-[1440px] mx-auto">
        <div class="sm:hidden flex">
          <div class="lg:w-1/2">
            <a href="/portfolio/zujugp-exchange">
              <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                <div>
                  <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-exchange.png" />
                  <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                    <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴交换空间
                      {% else %}
                      ZujuGP Exchange
                      {% endif %}
                    </h1>
                    <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                      {% else %}
                      Our AI-powered and automated global job search app
                      {% endif %}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                      <title>Arrow Forward</title>
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="lg:w-1/2">
            <a href="/portfolio/zujugameplay">
              <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                <div>
                  <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-gameplay.png" />
                  <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                    <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      蹴蹴游戏空间
                      {% else %}
                      ZujuGamePlay
                      {% endif %}
                    </h1>
                    <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                      {% if content.language.languageTag == "zh-cn" %}
                      数字化的LIVE游戏体验
                      {% else %}
                      Digitised Live game experience
                      {% endif %}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                      <title>Arrow Forward</title>
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="48"
                        d="M268 112l144 144-144 144M392 256H100"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:hidden sm:w-full sm:max-w-md pb-4 mx-auto">
          <div class="glide pb-8" x-data="{}" x-init="new Glide($el).mount()">
            <div class="glide__track" data-glide-el="track">
              <div class="glide__slides">
                <div class="glide__slide">
                  <div class="">
                    <div>
                      <div class="lg:w-1/2">
                        <a href="/portfolio/zujugp-exchange">
                          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                            <div>
                              <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-exchange.png" />
                              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴交换空间
                                  {% else %}
                                  ZujuGP Exchange
                                  {% endif %}
                                </h1>
                                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                                  {% else %}
                                  Our AI-powered and automated global job search app
                                  {% endif %}
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                                  <title>Arrow Forward</title>
                                  <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                  ></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glide__slide">
                  <div class="">
                    <div>
                      <div class="lg:w-1/2">
                        <a href="/portfolio/zujugameplay">
                          <div class="relative sm:aspect-w-1 sm:aspect-h-1 lg:aspect-w-16 lg:aspect-h-9 overflow-hidden" x-data="parallax()" x-bind="root">
                            <div>
                              <img class="w-full h-full object-cover object-center" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/more-gameplay.png" />
                              <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-bl from-black/0 via-black/0 to-black/50 p-8">
                                <h1 class="lg:w-1/2 text-white sm:text-4xl lg:text-5xl font-gtcond font-black mb-4" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  蹴蹴游戏空间
                                  {% else %}
                                  ZujuGamePlay
                                  {% endif %}
                                </h1>
                                <p class="lg:w-2/3 text-white sm:text-sm sm:mb-4 lg:mb-8" x-bind="animate(8)">
                                  {% if content.language.languageTag == "zh-cn" %}
                                  数字化的LIVE游戏体验
                                  {% else %}
                                  Digitised Live game experience
                                  {% endif %}
                                </p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512" x-bind="animate(8)">
                                  <title>Arrow Forward</title>
                                  <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="48"
                                    d="M268 112l144 144-144 144M392 256H100"
                                  ></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
              <button class="glide__bullet" data-glide-dir="=0"></button>
              <button class="glide__bullet" data-glide-dir="=1"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    #} 
    -->
    <!-- Articles Templates -->
    {% module "module_1635768031676119" path="/zuju-theme/modules/portfolio-articles-template", label="Articles" %}
    
  </main>
</div>
{% endblock body %}