<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Portfolio Index
-->

{% set is_statics = true %}
{% extends '../layouts/base.html' %}

{% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    <section>
      <div class="relative max-w-[1440px] bg-black mx-auto">
        <div class="absolute inset-0">
          <img class="lg:hidden opacity-50" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-mobile.png" />
          <div class="sm:hidden h-full w-full opacity-50" x-init="$dispatch('particle-init', $el)"></div>
        </div>
        <div
          class="relative lg:grid grid-cols-12 grid-rows-[1fr,repeat(4,auto),1fr] sm:pt-24 lg:pt-36 sm:pb-16 lg:pb-60 sm:px-8"
          x-data="parallax()"
          x-bind="root"
        >
          <h1 class="row-start-2 col-start-4 col-span-6 sm:text-4xl lg:text-6xl font-gtcond text-white font-black text-center z-10 sm:mb-8" x-bind="animate(8)">
            {% if content.language.languageTag == "zh-cn" %}
            欢迎来到蹴蹴足球世界！
            {% else %}
            Welcome to the ZujuGP Footballverse!
            {% endif %}
          </h1>
          <img
            class="row-start-1 row-span-6 col-start-2 col-span-4 sm:w-full sm:max-w-md sm:mb-8 sm:mx-auto"
            src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/listing-header.jpg"
            x-bind="animate(0)"
          />
          <p class="row-start-3 row-span-2 col-start-6 col-span-3 text-white z-10 lg:p-8 lg:pt-16 sm:mb-8" x-bind="animate(-8)">
            {% if content.language.languageTag == "zh-cn" %}
            在互联网的世界里，我们是在一个所有人共享的数字空间里建立联系。而蹴蹴集团致力于创造全新的体验和机会，以便您可以交流、创造、竞争并从深爱的足球运动里学到更多。只要我们的社群网络愈发壮大，我们能做到的就会更多！
            {% else %}
            Not unlike the internet, we create connections in a collective digital space shared by everyone. We are all about creating new experiences and
            opportunities so you can communicate, create, game and profit from your love of football. The greater the utility of our networks, the more we can do
            when connected!
            {% endif %}
          </p>
          <p class="row-start-4 row-span-2 col-start-9 col-span-3 text-white z-10 lg:p-8" x-bind="animate(-16)">
            {% if content.language.languageTag == "zh-cn" %}
            毫无疑问，我们正通过超酷的项目来帮助足球运动实现数字化转型。所有的蹴蹴项目都围绕着社群驱动和全新的生态系统而构建。以去中心化的区块链技术作为基底，这也是所有行业都正面临的未来趋势。
            {% else %}
            No surprise then that we are launching super cool projects to port football online. ZujuGP's projects will be built around an ecosystem of community
            driven technology, decentralised and anchored around innovative blockchain tech. This will be deployable universally across other industry.
            {% endif %}
          </p>
        </div>
      </div>
    </section>
    <section class="relative bg-white">
      <div class="max-w-[1440px] lg:grid grid-cols-12 mx-auto sm:p-8" x-data="parallax()" x-bind="root">
        <img
          class="row-start-1 col-start-7 col-span-5 sm:w-full sm:max-w-md sm:mx-auto lg:-mt-24"
          src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay.png"
          x-bind="animate(8)"
        />
        <div class="row-start-1 col-start-3 col-span-4 flex flex-col items-start justify-center py-16">
          <h1 class="sm:text-4xl lg:text-5xl font-gtcond font-black mb-8" x-bind="animate(8)">
            {% if content.language.languageTag == "zh-cn" %}
            蹴蹴游戏空间
            {% else %}
            ZujuGamePlay
            {% endif %}
          </h1>
          <p class="mb-8" x-bind="animate(4)">
            {% if content.language.languageTag == "zh-cn" %}
            我们迫不及待地想与您分享<strong>蹴蹴游戏空间</strong> - 我们以数字化LIVE游戏体验为核心的旗舰产品。<strong>蹴蹴游戏空间</strong>是互动的、实时的虚拟竞技场，您可以以球迷、专家或者创造者等多重的身份参与其中。守住自己的阵地或者加入其他的团队，游戏将变得更加有趣！
            {% else %}
            We cannot wait to share with you
            <strong>ZujuGamePlay</strong>
            - our flagship product centred on digitising the LIVE game experience.
            <strong>ZujuGamePlay</strong>
            is an interactive, real-time screening venue and virtual stadium where you can participate as a fan, pundit, bookmaker, bidder or event creator. Host
            your personal Owner's Box or join the brands you love for exclusive drops and content. The live game just got a lot less boring!
            {% endif %}
          </p>
          <a href="/portfolio/zujugameplay">
            <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4">
              {% if content.language.languageTag == "zh-cn" %}
              了解更多
              {% else %}
              Find Out More
              {% endif %}
            </button>
          </a>
        </div>
      </div>
    </section>
    <section class="bg-zuju-gray-2">
      <div class="relative max-w-[1440px] mx-auto flex flex-wrap justify-center sm:pt-24 lg:pt-36 sm:px-8" x-data="parallax()" x-bind="root">
        <img class="absolute top-80 right-0 w-1/2" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/bg-ball-dark.png" x-bind="animate(-24)" />
        <h1 class="relative lg:w-1/2 text-2xl lg:text-4xl font-gtcond font-black text-white text-center" x-bind="animate(16)">
          {% if content.language.languageTag == "zh-cn" %}
          我们还有面向人才市场和人才发展市场的相关产品。
          {% else %}
          We also have products lined up for the transfer of talent market and talent development &amp; recruitment market. Read more below.
          {% endif %}
        </h1>
        <div class="w-full mb-16"></div>
        <article class="sm:hidden lg:w-5/12 p-8">
          <a href="/portfolio/zujugp-exchange">
            <div class="bg-zuju-red-dark" x-bind="animate(8)">
              <div class="relative bottom-4 right-4">
                <img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-exchange.png" />
                <div class="absolute inset-0 flex flex-col items-start justify-end pl-8 pb-8 bg-gradient-to-bl from-black/0 via-black/0 to-black/50">
                  <h1 class="w-1/2 text-5xl text-white font-gtcond font-black mb-4">
                    {% if content.language.languageTag == "zh-cn" %}
                    蹴蹴交换空间
                    {% else %}
                    ZujuGP Exchange
                    {% endif %}
                  </h1>
                  <p class="text-white w-2/3 mb-4">
                    {% if content.language.languageTag == "zh-cn" %}
                    我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                    {% else %}
                    Our AI-powered and automated global job search app
                    {% endif %}
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                    <title>Arrow Forward</title>
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="48"
                      d="M268 112l144 144-144 144M392 256H100"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </article>
        <article class="sm:hidden lg:w-5/12 relative p-8 lg:mt-36">
          <a href="/portfolio/zujugp-rank">
            <div class="bg-zuju-red-dark" x-bind="animate(-8)">
              <div class="relative bottom-4 right-4">
                <img src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-rank.png" />
                <div class="absolute inset-0 flex flex-col items-start justify-end pl-8 pb-8 bg-gradient-to-bl from-black/0 via-black/0 to-black/50">
                  <h1 class="w-1/2 text-5xl text-white font-gtcond font-black mb-4">
                    {% if content.language.languageTag == "zh-cn" %}
                    蹴蹴探索空间
                    {% else %}
                    ZujuGP Rank
                    {% endif %}
                  </h1>
                  <p class="text-white w-2/3 mb-8">
                    {% if content.language.languageTag == "zh-cn" %}
                    我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                    {% else %}
                    Blockchain and AI-enabled talent development &amp; recruitment app
                    {% endif %}
                  </p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                    <title>Arrow Forward</title>
                    <path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="48"
                      d="M268 112l144 144-144 144M392 256H100"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </article>
        <div class="glide lg:hidden sm:max-w-md" x-data="{}" x-init="new Glide($el).mount()">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
              <div class="glide__slide">
                <div class="">
                  <div>
                    <a href="/portfolio/zujugp-exchange">
                      <div class="bg-zuju-red-dark mt-4 ml-4 mb-8">
                        <img class="relative bottom-4 right-4" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-exchange.png" />
                      </div>
                      <div class="flex flex-col items-start justify-end mb-8">
                        <h1 class="text-5xl text-white font-gtcond font-black mb-4">
                          {% if content.language.languageTag == "zh-cn" %}
                          蹴蹴交换空间
                          {% else %}
                          ZujuGP Exchange
                          {% endif %}
                        </h1>
                        <p class="text-white mb-8">
                          {% if content.language.languageTag == "zh-cn" %}
                          我们以AI智能和自动化技术作为驱动的全球工作搜寻应用程序
                          {% else %}
                          Our AI-powered and automated global job search app
                          {% endif %}
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                          <title>Arrow Forward</title>
                          <path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="48"
                            d="M268 112l144 144-144 144M392 256H100"
                          ></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="glide__slide">
                <div class="">
                  <div>
                    <a href="/portfolio/zujugp-rank">
                      <div class="bg-zuju-red-dark mt-4 ml-4 mb-8">
                        <img class="relative bottom-4 right-4" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/list-rank.png" />
                      </div>
                      <div class="flex flex-col items-start justify-end mb-8">
                        <h1 class="text-5xl text-white font-gtcond font-black mb-4">
                          {% if content.language.languageTag == "zh-cn" %}
                          蹴蹴探索空间
                          {% else %}
                          ZujuGP Rank
                          {% endif %}
                        </h1>
                        <p class="text-white mb-8">
                          {% if content.language.languageTag == "zh-cn" %}
                          我们以区块链技术和人工智能作为驱动的人才开发和招聘应用程序
                          {% else %}
                          Blockchain and AI-enabled talent development &amp; recruitment app
                          {% endif %}
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon text-zuju-red h-8 w-8" viewBox="0 0 512 512">
                          <title>Arrow Forward</title>
                          <path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="48"
                            d="M268 112l144 144-144 144M392 256H100"
                          ></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="glide__bullets bottom-1" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
          </div>
        </div>
        <div class="w-full mb-16"></div>
        <div class="lg:w-2/3 relative flex flex-col items-center">
          <h1 class="sm:text-4xl lg:text-5xl font-gtcond font-black text-white text-center mb-8">
            {% if content.language.languageTag == "zh-cn" %}
            (cn) Build out our vision with us.
            {% else %}
            Build out our vision with us. 
            {% endif %}
          </h1>
          <a href="/forum/lets-discuss-about-digitising-sports">
            <button class="text-zuju-red font-bold sm:text-sm uppercase rounded border-2 border-zuju-red p-4 mb-16">
              {% if content.language.languageTag == "zh-cn" %}
              (cn) Get in the convo
              {% else %}
              Get in the convo
              {% endif %}
            </button>
          </a>
        </div>
      </div>
    </section>
    <section class="bg-zuju-gray-2 p-8 pb-32">
      <div class="max-w-[1000px] mx-auto">{% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}</div>
    </section>
  </main>    
</div>
{% endblock body %}