<!--
    templateType: page
    isAvailableForNewContent: true
    label: Zuju Statics - Rewards
-->

{% set is_statics = true %} {% extends '../layouts/base.html' %} {% block body %}
<div class="app">
  <main class="bg-zuju-gray-1" x-data="{}">
    {% module "rewards_masthead"
      path="/zuju-theme/modules/rewards-masthead",
      label="Masthead" %}

    {% module "rewards_redemption"
      path="/zuju-theme/modules/rewards-redemption",
      label="Rewards Redemption" %}

    {% module "rewards_tier"
      path="/zuju-theme/modules/rewards-tier",
      label="Members Tier" %}

    {# Spacer #}
    <div class="bg-zuju-gray-db sm:h-8 lg:h-36" />

    <section class="bg-zuju-gray-db">
      <div
        class="max-w-[1440px] flex flex-col items-center bg-top bg-no-repeat p-8 pb-16 mx-auto"
        style="background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/kungfu.png)"
      >
        {% module "kfd_header"
          path="/zuju-theme/modules/rewards-kf-header",
          label="KFD Header" %}

        <div class="w-full flex flex-wrap justify-center">
          <div class="sm:contents sm:w-full lg:w-5/12 lg:px-8 lg:pb-16">
            {% module "kfd_block"
              path="/zuju-theme/modules/kfd-block",
              label="KFD Rewards" %}

            {% module "cr7_block"
              path="/zuju-theme/modules/cr7-block",
              label="Referral Rewards" %}
          </div>
          <div class="sm:contents sm:w-full lg:w-5/12 lg:px-8 lg:pb-16">
            {% module "treasure_hunt" path="/zuju-theme/modules/treasure-hunt-block", label="Treasure Hunt Rewards" %}

            {% module "share_rewareds" path="/zuju-theme/modules/share-rewards", label="Share Rewards" %}
          </div>

          {# Content grid #}
          <div class="sm:order-last sm:w-full lg:w-5/6 lg:px-8" x-data="parallax()" x-bind="root">
            {% module "rewards_content_grid" path="/zuju-theme/modules/rewards-content-grid", label="Other Rewards" %}
          </div>
        </div>
      </div>
    </section>

    <section class="bg-zuju-gray-db">
      <div class="w-full max-w-[1000px] mx-auto pb-32">{% dnd_area 'dnd_area' label='Main section' %} {% end_dnd_area %}</div>
    </section>
  </main>
</div>
{% endblock body%}
