.system {
  background: var(--clr-dark-400);
  min-height: 100vh;

  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.systems-page {
  background-color: #fff;
  padding: 4rem !important;
  margin: 2rem auto;
  flex-basis: 550px;
}
