// Breakpoints configuration
$breakpoints: (
  mobile-sm: 400px,
  mobile: 600px,
  tablet: 800px,
  laptop: 1024px
);

@import 'variables';
@import './vendors/normalize';
@import './vendors/include-media';
@import 'mixins';
@import 'base';
@import 'utils';
@import 'layout';

// Override
@import './components/form';

// Components
@import './components/button';
@import './components/navigation';
@import './components/social-links';

// @import './system';
@import './pages/auth';
