<!--
  templateType: global_partial
  label: Footer
-->

{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}
{% import 'zuju-theme/macros/tags.html' as c %}

<section class="callout-section">
  <img
    src="{{ get_asset_url('zuju-theme/images/assets/triangle.png') }}"
    alt=""
    class="callout-section__triangle"
  />

  <div>
    {% image 'footer_callout'
      src="{{ get_asset_url('zuju-theme/images/assets/callout.png') }}",
      alt="Banner",
      label="Footer banner" %}
  </div>
</section>

<footer class="footer">
  <div class="container">
    {% module "footer_cta"
      path="/zuju-theme/modules/footer-cta-section",
      label="Footer CTA Section" %}

    <div class="footer__nav">
      <div class="footer__nav-col">
        {% header 'header_col1'
          header_tag='h4',
          value='Company'%}

        {% menu 'footer_menu1'
          flow='vertical',
          max_levels='1' %}
      </div>

      <div class="footer__nav-col">
        {% header 'header_col2'
          header_tag='h4',
          value='Articles'%}

        {% menu 'footer_menu2'
          flow='vertical',
          max_levels='1' %}
      </div>

      <div class="footer__nav-col">
        {% header 'header_col3'
          header_tag='h4',
          value='Portfolio'%}

        {% menu 'footer_menu3'
          flow='vertical',
          max_levels='1' %}
      </div>

      <div class="footer__nav-col">
        {% header 'header_col4'
          header_tag='h4',
          value='Legal'%}

        {% menu 'footer_menu4'
          flow='vertical',
          max_levels='1' %}
      </div>

      <div class="footer__nav-col">
        {% header 'header_col5'
          header_tag='h4',
          value='Connect with us'%}

        {# <ul class="footer__social">
          <li><a href="/convo/the-future-of-football" target="_blank"><i class="far fa-comment"></i><span style="padding-left: 8px;">Convo</span></a></li>
          <li><a href="https://www.facebook.com/zujugp" target="_blank"><i class="fab fa-facebook-square"></i><span style="padding-left: 8px;">Facebook</span></a></li>
          <li><a href="https://instagram.com/zujugp" target="_blank"><i class="fab fa-instagram"></i><span style="padding-left: 8px;">Instagram</span></a></li>
          <li><a href="https://twitter.com/zujugp" target="_blank"><i class="fab fa-twitter"></i><span style="padding-left: 8px;">Twitter</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCbXvRvjZAt5aZhBNlDFxHuw" target="_blank"><i class="fab fa-youtube"></i><span style="padding-left: 8px;">YouTube</span></a></li>
          <li><a href="https://weibo.com/u/7706292600" target="_blank"><i class="fab fa-weibo"></i><span style="padding-left: 8px;">Weibo</span></a></li>
        </ul> #}

        {% module "footer_social"
          path="/zuju-theme/modules/social-link-footer",
          label="Social Link" %}
      </div>
    </div>

    {% module "copyright_link1"
      path="/zuju-theme/modules/link",
      label="Copyright Link",
      class_name="footer__copyright",
      url="{ href: 'https://mintmediasports.com/' }",
      text="&copy; 2021 Mint Media Sports Limited" %}
  </div>
</footer>