<!--
  templateType: global_partial
  label: Footer
-->

{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}

<section class="callout-section">
  <img
       src="{{ get_asset_url('../../images/assets/triangle.png') }}"
       alt=""
       class="callout-section__triangle"
       />
  <div>
    <img src="{{ get_asset_url('../../images/assets/callout.png') }}" alt="" />
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="footer__cta">
      <div class="footer__cta-alpha">
        <h3 class="all-caps">
          {% if currLang == "zh-cn" %}
          保持更新
          {% else %}
          Stay in the know
          {% endif %}
        </h3>
        <p>
          {% if currLang == "zh-cn" %}
          获取第一手足球消息和相关内幕
          {% else %}
          Keep updated with news and rewards with us.
          {% endif %}
        </p>
        {# <form action="">
          {% if currLang == "zh-cn" %}
          <input type="email" name="" id="" placeholder="您的电子邮件地址" />
          {% else %}
          <input type="email" name="" id="" placeholder="Your email address" />
          {% endif %}

          {% if currLang == "zh-cn" %}
          <input type="submit" class="button button-o-primary" value="  订阅  " />
          {% else %}
          <input type="submit" class="button button-o-primary" value="Subscribe" />
          {% endif %}
        </form> #}

        <div class="subscription-form">
          {% form 'form-subscription'
            form_to_use='2df3156e-384b-4ed8-8dea-af0bc8503144',
          %}
        </div>

      </div>
      <div class="footer__cta-omega">
        <h3 class="all-caps">
          {% if currLang == "zh-cn" %}
          开启合作
          {% else %}
          Work with Us
          {% endif %}
        </h3>
        <p>
          {% if currLang == "zh-cn" %}
          诚邀有识之士与我们一起将足球推向数字化的未来
          {% else %}
          We welcome visionaries who share our desire to advance football’s transition to a digital future.
          {% endif %}
        </p>
        <button class="button button--primary" data-modal-target="modal-contact-us">
          {% if currLang == "zh-cn" %}
          联系我们
          {% else %}
          Let's talk
          {% endif %}
        </button>
      </div>
    </div>
    <div class="footer__nav">
      <div class="footer__nav-col">
        <h4>
          {% if currLang == "zh-cn" %}
          公司
          {% else %}
          Company
          {% endif %}
        </h4>
        <ul>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/about-us">关于我们</a>
            {% else %}
            <a href="/about-us">About</a>
            {% endif %}
          </li>
          {# <li><a href="#">Impact</a></li> #}
          {# <li><a href="#">Advertise</a></li> #}
        </ul>
      </div>
      <div class="footer__nav-col">
        <h4>
          {% if currLang == "zh-cn" %}
          文章
          {% else %}
          Articles
          {% endif %}
        </h4>
        <ul>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest">所有</a>
            {% else %}
            <a href="/latest">All</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/观点">观点</a>
            {% else %}
            <a href="/latest/tag/opinion">Opinion</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/当地">当地</a>
            {% else %}
            <a href="/latest/tag/local-eye">Local Eye</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/周边">周边</a>
            {% else %}
            <a href="/latest/tag/offside">Offside</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/画廊">画廊</a>
            {% else %}
            <a href="/latest/tag/gallery">Gallery</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/图腾">图腾</a>
            {% else %}
            <a href="/latest/tag/icon">Icon</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/latest/tag/榜单">榜单</a>
            {% else %}
            <a href="/latest/tag/line-up">Line Up</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h4>
          {% if currLang == "zh-cn" %}
          更多模块
          {% else %}
          Portfolio
          {% endif %}
        </h4>
        <ul>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/portfolio/zujugameplay">蹴蹴游戏空间</a>
            {% else %}
            <a href="/portfolio/zujugameplay">ZujuGamePlay</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/portfolio/zujugp-exchange">蹴蹴交换空间</a>
            {% else %}
            <a href="/portfolio/zujugp-exchange">ZujuGP Exchange</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/zh-cn/portfolio/zujugp-rank">蹴蹴探索空间</a>
            {% else %}
            <a href="/portfolio/zujugp-rank">ZujuGP Rank</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h4>
          {% if currLang == "zh-cn" %}
          法律
          {% else %}
          Legal
          {% endif %}
        </h4>
        <ul>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/privacy-policy">隐私政策</a>
            {% else %}
            <a href="/privacy-policy">Privacy Policy</a>
            {% endif %}
          </li>
          <li>
            {% if currLang == "zh-cn" %}
            <a href="/privacy-policy">使用条款</a>
            {% else %}
            <a href="/terms-of-use">Terms of use</a>
            {% endif %}
          </li>
        </ul>
      </div>

      <div class="footer__nav-col">
        <h4>
          {% if currLang == "zh-cn" %}
          联系我们
          {% else %}
          Connect with us
          {% endif %}
        </h4>
        <ul class="footer__social">
          <li><a href="/convo/cr-in-commercial" target="_blank"><i class="far fa-comment"></i><span style="padding-left: 8px;">Convo</span></a></li>
          <li><a href="https://www.facebook.com/zujugp" target="_blank"><i class="fab fa-facebook-square"></i><span style="padding-left: 8px;">Facebook</span></a></li>
          <li><a href="https://instagram.com/zujugp" target="_blank"><i class="fab fa-instagram"></i><span style="padding-left: 8px;">Instagram</span></a></li>
          <li><a href="https://twitter.com/zujugp" target="_blank"><i class="fab fa-twitter"></i><span style="padding-left: 8px;">Twitter</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCbXvRvjZAt5aZhBNlDFxHuw" target="_blank"><i class="fab fa-youtube"></i><span style="padding-left: 8px;">YouTube</span></a></li>
          <li><a href="https://weibo.com/u/7706292600" target="_blank"><i class="fab fa-weibo"></i><span style="padding-left: 8px;">Weibo</span></a></li>
        </ul>
      </div>
    </div>
    <a href="https://mintmediallc.com" class="footer__copyright" target="_blank">&copy; 2021 Mint Media Sports Limited</a>
  </div>
</footer>