.social-links {
  display: flex;
  align-items: center;

  a {
    color: var(--clr-light-700);
    font-size: 1.5rem;
    margin: 0 0.5rem;

    @include media('<=mobile') {
      color: var(--clr-light-700);
      font-size: 1.5rem;
      margin: 0 0.3rem;
    }
  }

  svg {
    width: 24px;
    height: 24px;

    @include media('<=mobile') {
      width: 20px;
      height: 20px;
    }
  }
}
