<!--
  templateType: page
  isAvailableForNewContent: true
  label: Daftar
-->
{% extends "./layouts/base-standard.html" %} {% block body %}
<main class="public">
  <div
    class="auth-wrapper auth dandan"
    style="background-image: url({{ get_asset_url('../images/assets/bg/register.png') }})"
  >
    <div class="container">
      <div class="auth__push-right form-dark">
        <h2 class="auth__heading">New Account Sign Up</h2>

        {% form 'my_form' %}

        <div class="form-embed-container"></div>
      </div>
    </div>
  </div>
</main>

<script>
  let count = 0
  let total = 0
  window.addEventListener("message", (event) => {
    if (event.data.type === "hsFormCallback" && event.data.eventName === "onFormReady") {
      count++;
      if (count < total) return;

      const form = document.getElementById("hs_form_target_my_form");

      window.addEventListener("message", (event) => {
        if (event.data.type === "hsFormCallback" && event.data.eventName === "onFormSubmit") {
          event.preventDefault() // Trying to imperatively cancel the submission. Doesn't work
          console.log(event)

          {# Below codes runs just fine #}
          const url = new URL(window.location.href)

          if (url) {
            const ref = url.searchParams.get('ref')
            window.location = ref
          }
        }
      });
    }
  });
</script>

{% endblock body %}
