<!--
  templateType: page
  isAvailableForNewContent: true
  label: Daftar
-->
{% extends "./layouts/base-standard.html" %}
{% block body %}
  <main class="public">
    <div class="auth-wrapper auth dandan" style="background-image: url({{ get_asset_url('../images/assets/bg/register.png') }})">
      <div class="container">
        <div class="auth__push-right form-dark">
          <h2 class="auth__heading">New Account Sign Up</h2>


          <div class="form-embed-container">
          </div>
        </div>
      </div>
    </div>
  </main>

  {% set referral_code = request.query_dict.refer %}
  <script>
    var referral_code = "{{ referral_code }}";
    var portal_id = "{{ portal_id }}";
  </script>
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  {{ require_js(get_asset_url('zuju-theme/js/pages/register.js'), 'footer')}}
{% endblock body %}
