<!--
  templateType: page
  isAvailableForNewContent: true
  label: Proxy Gateway for Login/Logout
-->
{{ standard_header_includes }}

{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}

{% if currLang == 'zh-cn' %}
  <meta http-equiv="refresh" content="0;URL='https://www.zujugp.com/zh-cn/'" />
{% else %}
  <meta http-equiv="refresh" content="0;URL='https://www.zujugp.com/'" />
{% endif %}

{{ standard_footer_includes }}