<!--
  templateType: page
  isAvailableForNewContent: true
  label: hubdb template
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base-members.html" %}
{% import "../macros/tags.html" as macros %}

{% block body %}
{% if dynamic_page_hubdb_row %}
	{% set d = dynamic_page_hubdb_row %}

	<div class="content-wrapper">
		<section class="title-section">
			<h2 class="page-title">Rewards</h2>
		</section>

		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards-details">
					<div class="breadcrumb">
						<div class="breadcrumb__item">
							<a style="color: #fff; text-decoration: none" href="{{ '/'~(request.path|split('/'))[0] }}">Rewards</a>
						</div>
						&gt;
						<div class="breadcrumb__item">
							{{ (d.categories|first).name }}
						</div>
						&gt;
						<div class="breadcrumb__item active">{{ d.name }}</div>
					</div>
					<!-- End of breadcrumb -->

					<div class="content-row">
						<div class="content-col">
							<h2 class="post-title">{{ d.name }}</h2>
							<div>{{ d.content }}</div>
							<div class="availability {{ d.stock > 0 ? '' : 'clr-mute' }}">{{ d.stock > 0 ? 'Available' : 'Fully Redeemed' }}</div>

							<div class="dfl cta">
								<div>
									<span class="fs-large">{{ d.point }}</span>
									<span class="fs-sm">points</span>
								</div>

								<div>
									<a
										href="#"
										data-modal="modal"
										class="button button--primary "
										{{ d.stock > 0 || 'disabled' }}
										>{{ d.stock > 0 ? 'Redeem Now' : 'Unavailable' }} </a

									>
								</div>
							</div>

							<div class="fs-sm">
								<p>Terms and Conditions</p>
								<ul>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Iure, aliquam!
									</li>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Repudiandae magni voluptatum ipsam inventore
										doloribus eius culpa, impedit dolorem pariatur sunt?
									</li>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Veritatis beatae doloribus voluptatum impedit
										dignissimos voluptatem mollitia eveniet unde nostrum
										placeat!
									</li>
									<li>
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit. Numquam illo animi, expedita ab quae praesentium
										autem quos quas perferendis excepturi.
									</li>
								</ul>
							</div>
						</div>
						<div class="content-col">
							<img src="{{ d.image.url }}" alt="" />
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>

	{# Modal #}
	{% call macros.modal() %}
		{# <h3 class="text-center">Billing Details</h3>
		<p class="text-center">Fill in the particulars to receive your reward</p> #}
		{% form "redemption_form" form_to_use='72dcb3b7-6292-492c-a1c1-b902c41704cd' %}
	{% endcall %}

{% elif dynamic_page_hubdb_table_id %}
	<div class="content-wrapper">
		<section class="title-section">
			<h2 class="page-title">Rewards</h2>
		</section>

		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards">
					<div class="dfl fl-j-sb fl-a-c">
						<form action="" class="rewards__filter">
							<div class="fields">
								<div class="field">
									<label for="id-categories" class="fs-sm"
										>Categories</label
									>
									<select name="" id="id-categories">
										<option value="all" class="selected disabled"
											>All</option
										>
										<option value="1">Others</option>
										<option value="2">Gadgets</option>
									</select>
								</div>

								<div class="field">
									<label for="id-points" class="fs-sm"
										>Zuju Points</label
									>
									<select name="" id="id-points">
										<option value="all" class="selected disabled"
											>All</option
										>
										<option value="<1000">&lt; 1000</option>
										<option value="1001-7000">1001 - 7000</option>
										<option value=">7000">&gt; 7000</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="grids">
						{% if request.query_dict.categories %}
							{% set q_cat = 'categories__icontains='~request.query_dict.categories %}
						{% else %}
							{% set q_cat = '' %}
						{% endif %}


						{% for row in hubdb_table_rows(dynamic_page_hubdb_table_id, q_cat) %}
							<a class="card" href="{{ request.path }}/{{ row.hs_path }}">
								<img src="{{ resize_image_url(row.image.url, 280, 180, 200, true, false) }}" alt="" loading="lazy" width="280px" height="180px"/>
								<div class="card__content">
									<div class="tag">{{ (row.categories|first).name }}</div>
									<h3 class="card__title">{{ row.name }}</h3>
									<div class="card__desc">{{ row.content }}</div>
									<div class="availability {{ row.stock > 0 ? '' : 'clr-mute' }}">{{ row.stock > 0 ? 'Available' : 'Fully Redeemed' }}</div>
									<div class="points">
										<b>{{ row.point }}</b> <span class="fs-sm">Zuju points</span>
									</div>
								</div>
							</a>
						{% endfor %}
					</div>
					{# End of Grids #}
				</section>
			</div>
		</section>
	</div>
{% endif %}

<script>
	const rowId = "{{ dynamic_page_hubdb_row.hs_id }}"
	console.log(rowId)


	window.addEventListener('message', event => {
		if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormReady') {
				const $redeemInput = document.querySelector('input[name="last_redeemed_id"]')
				console.log($redeemInput)
				$redeemInput.value = "{{ dynamic_page_hubdb_row.hs_id }}";
		}
	});

</script>

{% endblock body %}
