<!--
  templateType: page
  isAvailableForNewContent: true
  label: Hubdb template
-->
{% extends "./layouts/base-members.html" %}
{% import "../macros/tags.html" as c %}

{% block body %}
	{% if dynamic_page_hubdb_row %}
		{% set d = dynamic_page_hubdb_row %}
		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards-details">
					<div class="breadcrumb">
						<div class="breadcrumb__item">
							<a style="color: #fff; text-decoration: none" href="{{ '/'~(request.path|split('/'))[0] }}">Rewards</a>
						</div>
						&gt;
						<div class="breadcrumb__item">
							{{ (d.categories|first).name }}
						</div>
						&gt;
						<div class="breadcrumb__item active">{{ d.name }}</div>
					</div>
					<!-- End of breadcrumb -->

					<div class="content-row">
						<div class="content-col">
							<h2 class="post-title">{{ d.name }}</h2>
							<div>{{ d.content }}</div>

							{% if d.stock <= 0 %}
								{% set class_name = 'clr-mute' %}
								{% set label = 'Fully Redeemed' %}
							{% endif%}

							{% if contact.current_loyalty_points < d.point %}
								{# {{ contact.current_loyalty_points < d.point  }} #}
								{% set class_name = 'clr-mute' %}
								{% set label = 'Insufficient Points' %}
							{% endif %}

							{% if  contact.current_loyalty_points > d.point && d.stock > 0 %}
								{% set class_name = '' %}
								{% set label = 'Available' %}
							{% endif %}
							<div class="availability {{ class_name }}">
								{{ label  }}
							</div>

							<div class="dfl cta">
								<div>
									<span class="fs-large">{{ d.point }}</span>
									<span class="fs-sm">points</span>
								</div>

								<div>
									<a
										href="#"
										data-modal="modal"
										class="button button--primary "
											{{ d.stock > 0 && contact.current_loyalty_points > d.point || 'disabled' }}
										>
										{{ d.stock > 0 && contact.current_loyalty_points > d.point ? 'Redeem Now' : 'Unavailable' }}
									</a>
								</div>
							</div>

							<div class="fs-sm">
								<p>Terms and Conditions</p>
								<ul>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Iure, aliquam!
									</li>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Repudiandae magni voluptatum ipsam inventore
										doloribus eius culpa, impedit dolorem pariatur sunt?
									</li>
									<li>
										Lorem ipsum dolor sit amet consectetur adipisicing
										elit. Veritatis beatae doloribus voluptatum impedit
										dignissimos voluptatem mollitia eveniet unde nostrum
										placeat!
									</li>
									<li>
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit. Numquam illo animi, expedita ab quae praesentium
										autem quos quas perferendis excepturi.
									</li>
								</ul>
							</div>
						</div>

						<div class="content-col">
							<img src="{{ d.image.url }}" alt="" />
						</div>
					</div>
				</section>
			</div>
		</section>

		{# Modal #}
		{% call c.modal() %}
			{% form "redemption_form" form_to_use='72dcb3b7-6292-492c-a1c1-b902c41704cd' %}
		{% endcall %}

	{% elif dynamic_page_hubdb_table_id %}
		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards">
					<div class="dfl fl-j-sb fl-a-c">
						<form action="" class="rewards__filter">
							<div class="fields">
								<div class="field">
									<label for="id-categories" class="fs-sm"
										>Categories</label
									>
									<select name="" id="id-categories">
										<option value="all" class="selected disabled"
											>All</option
										>
										<option value="1">Others</option>
										<option value="2">Gadgets</option>
									</select>
								</div>

								<div class="field">
									<label for="id-points" class="fs-sm"
										>Zuju Points</label
									>
									<select name="" id="id-points">
										<option value="all" class="selected disabled"
											>All</option
										>
										<option value="<1000">&lt; 1000</option>
										<option value="1001-7000">1001 - 7000</option>
										<option value=">7000">&gt; 7000</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="grids">
						{% if request.query_dict.categories %}
							{% set q_cat = 'categories__icontains='~request.query_dict.categories %}
						{% else %}
							{% set q_cat = '' %}
						{% endif %}


						{% for row in hubdb_table_rows(dynamic_page_hubdb_table_id, q_cat) %}
							<a class="card" href="{{ request.path }}/{{ row.hs_path }}">
								<img src="{{ resize_image_url(row.image.url, 280, 180, 200, true, false) }}" alt="" loading="lazy" width="280px" height="180px"/>
								<div class="card__content">
									<div class="tag">{{ (row.categories|first).name }}</div>
									<h3 class="card__title">{{ row.name }}</h3>
									<div class="card__desc">{{ row.content }}</div>


									{% if row.stock <= 0 %}
										{% set class_name = 'clr-mute' %}
										{% set label = 'Fully Redeemed' %}
									{% endif%}

									{% if contact.current_loyalty_points < row.point %}
										{# {{ contact.current_loyalty_points < row.point  }} #}
										{% set class_name = 'clr-mute' %}
										{% set label = 'Insufficient Points' %}
									{% endif %}

									{% if  contact.current_loyalty_points > row.point && row.stock > 0 %}
										{% set class_name = '' %}
										{% set label = 'Available' %}
									{% endif %}

									<div class="availability {{ class_name }}">
										{{ label }}
									</div>

									<div class="points">
										<b>{{ row.point }}</b> <span class="fs-sm">Zuju points</span>
									</div>
								</div>
							</a>
						{% endfor %}
					</div>
					{# End of Grids #}
				</section>
			</div>
		</section>
	{% endif %}

	<script>
		const rowId = "{{ dynamic_page_hubdb_row.hs_id }}"

		window.addEventListener('message', event => {
			if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormReady') {
					const $redeemInput = document.querySelector('input[name="last_redeemed_id"]')
					const $redeemItemName = document.querySelector('input[name="last_redeemed_item_name"]')

					$redeemInput.value = "{{ dynamic_page_hubdb_row.hs_id }}";
					$redeemItemName.value = "{{ dynamic_page_hubdb_row.name }}"
			}
		});
	</script>

{% endblock body %}
