<!--
  templateType: page
  isAvailableForNewContent: true
  label: Hubdb template
-->
{% extends "./layouts/base-members.html" %}
{% import "../macros/tags.html" as c %}

{% block body %}
	{% if dynamic_page_hubdb_row %}
		{% set d = dynamic_page_hubdb_row %}
		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards-details">
					<div class="breadcrumb">
						<div class="breadcrumb__item">
							<a style="color: #fff; text-decoration: none" href="{{ '/'~(request.path|split('/'))[0] }}">
								{% if currLang == 'zh-cn' %}
									 奖励
								{% else %}
									Rewards
								{% endif %}
							</a>
						</div>
						<div class="breadcrumb__item">
							{{ c.chevron_right() }}
							{{ c.categories(1) }}
						</div>
						<div class="breadcrumb__item active">
							{{ c.chevron_right() }}

							{% if currLang == 'zh-cn' %}
								{{ d.name_chinese }}
							{% else%}
								{{ d.name }}
							{% endif %}
						</div>
					</div>
					<!-- End of breadcrumb -->

					<div class="content-row">
						<div class="content-col">
							<h2 class="post-title">
								{% if currLang == 'zh-cn' %}
									{{ d.name_chinese }}
								{% else%}
									{{ d.name }}
								{% endif %}
							</h2>
							<div>
								{% if currLang == 'zh-cn' %}
									{{ d.content_chinese }}
								{% else %}
									{{ d.content }}
								{% endif %}
							</div>

							<p class="tier-availability">
								{{ currLang == 'zh-cn' ? '适用于' : 'Available for' }} : {{ d.member_tier_availability|map('name')|join(', ') }}
							</p>
							{% if d.show_stock_count %}
								{{ currLang == 'zh-cn' ? '股票' : 'Stock' }}: {{ d.stock }}
							{% endif %}

							{% if d.stock <= 0 %}
								{% set class_name = 'clr-mute' %}
								{% set label = 'Fully Redeemed' %}
							{% endif%}

							{% if contact.current_loyalty_points < d.point %}
								{# {{ contact.current_loyalty_points < d.point  }} #}
								{% set class_name = 'clr-mute' %}
								{% set label = '{{ currLang == "zh-cn" ? "Z积分不足" : "Insufficient Z Points" }}' %}
							{% endif %}

							{% if  contact.current_loyalty_points > d.point && d.stock > 0 %}
								{% set class_name = '' %}
								{% set label = 'Available' %}
							{% endif %}
							<div class="cta-container">
								<div class="availability {{ class_name }}">
									{{ label  }}
								</div>

								<div class="dfl cta">
									<div>
										<span class="fs-large">{{ d.point|format_currency('en-US')|replace('$', '') }}</span>
										<span class="fs-sm">{{ currLang == "zh-cn" ? "Z积分" : "Z Points" }}</span>
									</div>

									<div>
										<button
											data-modal-target="modal-redemption"
											class="button button--primary "
												{{ d.stock|int > 0 && contact.current_loyalty_points|int > d.point|int || 'disabled' }}
											>
                      {% if currLang == 'zh-cn' %}
											  {{ (d.stock|int > 0 && contact.current_loyalty_points|int > d.point|int) ? 'Redeem Now' : '无法使用' }}
                      {% else %}
                        {{ (d.stock|int > 0 && contact.current_loyalty_points|int > d.point|int) ? 'Redeem Now' : 'Unavailable' }}
                      {% endif %}
										</button>
									</div>
								</div>
							</div>

							<div class="fs-sm toc">
								{% if currLang == 'zh-cn' %}
									{{ d.tnc_chinese }}
								{% else%}
									{{ d.tnc }}
								{% endif %}
							</div>
						</div>

						<div class="content-col">
							<img src="{{ d.image.url }}" alt="" />
						</div>
					</div>
				</section>
			</div>
		</section>

		{# Modal #}
		{% call c.modal('modal-redemption', 'lg') %}
			<div class="form-container anim" style="padding-top: 30px">
				{% form "redemption_form" form_to_use='72dcb3b7-6292-492c-a1c1-b902c41704cd' %}
			</div>
		{% endcall %}

	{% elif dynamic_page_hubdb_table_id %}
		<section class="content-area">
			<div class="main-content">
				<!-- Rewards -->
				<section class="rewards">
					<div class="dfl fl-j-sb fl-a-c">
						<form action="" class="rewards__filter">
							<div class="fields">
								<div class="field">
									{% set categories = [
										{
											id: 1,
											value: 'CR7 MEMORABILIA',
										}, {
											id: 2,
											value: 'ELECTRONICS'
										}, {
											id: 3,
											value: 'CR7 EXPERIENCES'
										}, {
											id: 4,
											value: 'GIFT CARDS'
										}
									] %}

									{% set points = [{
											id: 1,
											value: '<1000'
										}, {
											id: 2,
											value: '1001 - 7000'
										}, {
											id: 3,
											value: '>7000'
										}
									] %}

									{% set qCat = request.query_dict['categories']|default('') %}
									{% set qPts = request.query_dict['points']|default('') %}

									{% if qCat %}
										{% set catFilter = 'categories__in='~qCat %}
									{% endif %}

									{% if qPts %}
										{% if qPts == 1 %}
											{% set ptsFilter = '&point__lte=1000' %}
										{% elif qPts == 2 %}
											{% set ptsFilter = '&point__lte=7000&point__gt=1000' %}
										{% elif qPts == 3 %}
											{% set ptsFilter = '&point__gt=7000' %}
										{% else %}
											{% set ptsFilter = '' %}
										{% endif %}
									{% endif %}

									<label for="id-categories" class="fs-sm">Categories</label>
									<select name="" id="id-categories">
										<option value="" selected>All</option>

										{% for category in categories %}
											<option value="{{ category.id }}" {{ qCat == category.id ? 'selected' : '' }}>{{ category.value }}</option>
										{% endfor %}
									</select>
								</div>

								<div class="field">
									<label for="id-points" class="fs-sm"
										>Z Points</label
									>
									<select name="" id="id-points">
										<option value="" selected>All</option>

										{% for point in points %}
											<option value="{{ point.id }}" {{ 'selected' if point.id == qPts }}>{{ point.value }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="grids">
						{% for row in hubdb_table_rows(dynamic_page_hubdb_table_id, catFilter~ptsFilter) %}
							{{ c.reward_card(row) }}
						{% endfor %}
					</div>
					{# End of Grids #}
				</section>
			</div>
		</section>
	{% endif %}

	<script>
		const rowId = "{{ dynamic_page_hubdb_row.hs_id }}"

		window.addEventListener('message', event => {
			if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormReady') {
					const $redeemInput = $('input[name="last_redeemed_id"]')
					const $redeemItemName = $('input[name="last_redeemed_item_name"]')

					$redeemInput.val("{{ dynamic_page_hubdb_row.hs_id }}");
					$redeemItemName.val("{{ dynamic_page_hubdb_row.name }}");
			}
		});
	</script>

{% endblock body %}
