<!--
  templateType: page
  isAvailableForNewContent: true
  label: Kungfu dash
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base-standard.html" %}
{% block body %}
  <main class="public">
    <div class="kungfu-dash" style="background-image: url(https://i.imgur.com/d32YxC5.png)">
      <div class="container">
        <div class="form-dark text-center">
          <h1>Kungfu Dash</h1>

          <h3>Play to win a chance to meet Cristiano Ronaldo up close & personal on Zoom!</h3>

          <p>Here's how to the competition works:</p>

          <div class="kd-grid">
            <div class="kd-card">
              <img src="https://i.imgur.com/XSBuA9y.png" alt="">
              <p>Play to earn the highest score on Kungfu Dash</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/VWmKPKh.png" alt="">
              <p>High score dashers earn the honour of a place on the leaderboard</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/P21F4t7.png" alt="">
              <p>Everyone on the leaderboard gets entered into the Leaderboard Raffle</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/Junatax.png" alt="">
              <p>For 8 weeks we will pick 1 lucky dasher from the Raffle to win this once-in-a-lifetime opportunity to meet Cristiano Ronaldo!</p>
            </div>
          </div>

          <p class="clr-primary text-center all-caps">Competition closes on 12 December 2021 at 2359 GMT.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock body %}
