<!--
  templateType: page
  isAvailableForNewContent: true
  label: Members Register
-->
{% extends "./layouts/base-standard.html" %}
{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}

{% block body %}
  <main class="public">
    <div class="auth-wrapper auth">
      <div class="container">
        <div class="auth__push-right form-dark">
          <h2 class="auth__heading">
            {% module "text" path="@hubspot/text" label="Heading" %}
          </h2>

          {% module "register_form"
            path="/zuju-theme/modules/register-form",
            label="Register Form" %}
        </div>
      </div>
    </div>
  </main>

  {% set referral_code = request.query_dict.refer %}
  <script>
    var referral_code = "{{ referral_code }}";
    var portal_id = "{{ portal_id }}";
  </script>
{% endblock body %}