<!--
  templateType: page
  isAvailableForNewContent: true
  label: Members portal
  screenshotPath: ../images/template-previews/home.png
-->
{% import "../macros/tags.html" as c %}

{% set currLang = content.language.languageTag != NULL ? content.language.languageTag : "" %}
{% set currLang = currLang == "" ? request.query_dict['hsLang'] : currLang %}

{% set template_css = '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' %}
{{ require_css('https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.6/dist/css/splide.min.css', 'header') }}

{% extends "./layouts/base-members.html" %}

{% block body %}
  {% set rewards = hubdb_table_rows('rewards', 'limit=3') %}
  <section class="content-area">
    <div class="main-content">
      <section class="tiles">
      <div class="tiles__single tiles__item daily-tasks">
        <div class="daily-tasks__inner">
          <h4 class="text-center">{{ currLang == "zh-cn" ? "每日任务" : "Daily Task" }}</h4>
          <p class="text-center">{{ currLang == "zh-cn" ? "完成任务并获得积分" : "Complete task and earn Z Points" }}</p>

          <ul class="list">
            <li>
              <label for="id-check-in" class="task">
                <input
                  type="checkbox"
                  name="daily_check_in"
                  id="id-check-in"
                />
                <div class="task__label">
                  {{ currLang == "zh-cn" ? "每日签到" : "Daily Check-in" }}
                </div>
              </label>
            </li>

            <li>
              <label for="id-share" class="task">
                <input type="checkbox" name="share" id="id-share" />
                <div class="task__label">
                  {{ currLang == "zh-cn" ? "在社交平台上分享页面" : "Share a page on social media" }}
                </div>
              </label>
            </li>

              <li>
              <label for="id-easter-egg" class="task task-easter-egg">
                <input
                  type="checkbox"
                  name="find_easter_egg"
                  id="id-easter-egg"
                />
                <div class="task__label">{{ currLang == "zh-cn" ? "寻找彩蛋" : "Daily Treasure Hunt" }}</div>
                <div class="pg">{{ currLang == "zh-cn" ? "进度" : "Progress" }} <span class="pg__achieved"></span> / <span class="pg__max"></span></div>
              </label>
            </li>

            <li>
              <label for="id-comments" class="task task-comments">
                <input type="checkbox" name="comments" id="id-comments">
                <div class="task__label">
                  {{ currLang == "zh-cn" ? "在文章下发表10条评论" : "Leave 10 comments on articles" }}
                  <div>{{ currLang == "zh-cn" ? "（仅适用于超级会员和终身会员）" : "(Only for Super Fans & Ultimate Fans)" }}</div>
                </div>
                <div class="pg">{{ currLang == "zh-cn" ? "进度" : "Progress" }} <span class="pg__achieved">0</span> / <span class="pg__max">10</span></div>
              </label>
            </li>
          </ul>

        </div>
      </div>

        <div class="tiles__item current-point">
          <div class="dfl fl-j-c">
            <img src="{{ get_asset_url('zuju-theme/images/assets/icons/coin.svg') }}" alt="" />
            <div>
              <h4>{{ currLang == "zh-cn" ? "现有" : "Current" }}</h4>
              <div><b>{{ contact.current_loyalty_points }}</b> {{ currLang == "zh-cn" ? "蹴蹴积分" : "Z Points" }}</div>
            </div>
          </div>
          <div class="text-center">
            <a href="/membership" class="button button--primary">{{ currLang == "zh-cn" ? "更多信息" : "More details" }}</a>
          </div>
        </div>
        <div class="tiles__item referral text-center">
          <div>
            <h4>{{ currLang == "zh-cn" ? "推荐给好友" : "Refer a Friend" }}</h4>
            <div>{{ currLang == "zh-cn" ? "并获得奖励" : "And be rewarded" }}</div>
          </div>
          <button data-modal-target="modal-referral" class="button button--primary">{{ currLang == "zh-cn" ? "更多信息" : "More details" }}</button>
        </div>
      </section>
      <!-- End of tiles -->

      <!-- Kungfu dash -->
      <h4 class="all-caps">{{ currLang == "zh-cn" ? "功夫快跳" : "Kungfu Dash" }}</h4>
      <section class="kungfu-dash-in">
        <div class="kungfu-dash-in__cta">
          <img src="{{ get_asset_url('zuju-theme/images/assets/kungfu-dash-logo.png') }}" alt="" />
          <a href="/kungfu-dash-game" class="button button--primary">{{ currLang == "zh-cn" ? "立即开始" : "Play Now" }}</a>
        </div>

        <div class="kungfu-dash-in__check-in">
          <p>{{ currLang == "zh-cn" ? "7天内每日消费奖金" : "7 Days Daily Spent Bonus" }}</p>
          {# <p>Bonus! 1 point per dollar spent with a min. of $1 daily for 7 days consecutively</p> #}

          <div class="timeline">
            {% for i in range(7) %}
              <div class="timeline__point" data-day="{{ loop.index }}">
                <div class="timeline__dot"></div>
                <div class="timeline__bar"></div>
                <div class="timeline__day">
                  {% if currLang == "zh-cn" %}
                  第{{loop.index}}天
                  {% else %}
                  Day {{loop.index}}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>

          <p>{{ currLang == "zh-cn" ? "25天内每日消费奖金" : "25 Days Daily Spent Bonus" }}</p>
          {# <p>Bigger bonus! 2 points per dollar spent with a min. of $1 daily for 25 days consecutively</p> #}

          <div class="continous" style="display: none">
            {% for i in range(25) %}
              <div>
                <div class="continous__item" data-day="{{loop.index}}">Day<span>{{ loop.index }}</span></div>
              </div>
            {% endfor %}
          </div>

          <div class="splide cnt">
            <div class="splide__track">
              <ul class="splide__list">
                {% for i in range(25) %}
                  <li class="splide__slide">
                    <div class="cnt__item"  data-day="{{loop.index}}">Day <span>{{ loop.index }}</span></div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="text-center">
            <a href="/kungfu-dash-game" class="button button--primary">{{ currLang == "zh-cn" ? "立即开始" : "Play Now" }}</a>
          </div>
        </div>
      </section>

      <!-- Rewards -->
      <section class="rewards">
        <div class="dfl fl-j-sb fl-a-c">
          <h4 class="all-caps">{{ currLang == "zh-cn" ? "热门奖品" : "Popular Rewards" }}</h4>
          <a href="/rewards">{{ currLang == "zh-cn" ? "浏览更多" : "View more" }}</a>
        </div>
        <div class="grids">
          {% for reward in rewards %}
            {{ c.reward_card(reward) }}
          {% endfor %}
        </div>
      </section>
    </div>
  </section>

  {# Modal #}
  {% macro modal_referral_header() %}
    <img class="modal__header-bg" src="{{ get_asset_url('zuju-theme/images/assets/bg/referral-modal.png') }}" alt="">
    <div class="modal__header-inner text-center">

      <h3>{{ currLang == "zh-cn" ? "传球" : "Pass the Ball" }}</h3>
      <p>
        {% if currLang == "zh-cn" %}
        邀请您的好友。每当好友通过您所分享的链接完成注册，您就会获得2个积分的奖励！每7次来自朋友的注册会为您带来一次赢取特别奖品的机会。
        {% else %}
        Share the love by inviting your friends. Each successful sign up through your unique link will award you 2 Z Points. Every 7 such referrals entitle you to 1 chance to win prizes.
        {% endif %}
      </p>

      <div class="copy">
        <input type="text" value="" id="referral-id"/>
        <button class="button">{{ currLang == "zh-cn" ? "复制链接" : "Copy Link" }}</button>
      </div>
    </div>
  {% endmacro %}

  {% call c.modal('modal-referral', null, modal_referral_header()) %}
    <div class="text-center">
      <p>{{ currLang == "zh-cn" ? "或者" : "Or" }}</p>

      <button class="button button--o-primary" id="share-referral">{{ currLang == "zh-cn" ? "分享到其他平台" : "Share to other platforms" }}</button>
    </div>
  {% endcall %}

  {{ require_js('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js', 'footer') }}
  {{ require_js('https://cdn.jsdelivr.net/npm/@splidejs/splide@3.1.6/dist/js/splide.min.js', 'footer') }}

  <script>
    var chevronLeft = `{{ c.chevron_left() }}`
    var chevronRight = `{{ c.chevron_right() }}`
  </script>
  {% require_js 'my_require_js' position='position'%}
    <script>
      $(document).on('ready', function() {
        $('.timeline').slick({
          slidesToShow: 7,
          slidesToScroll: 7,
          centerMode: false,
          arrows: true,
          infinite: false,
          prevArrow: `<div class="prev-arrow">{{ c.chevron_left() }}</div>`,
          nextArrow: `<div class="next-arrow">{{ c.chevron_right() }}</div>`,
          responsive: [
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4
              }
            },
          ]
        });
      })
    </script>
  {% end_require_js %}
{% endblock body %}