<!--
  templateType: page
  isAvailableForNewContent: true
  label: Kungfu dash Game
  screenshotPath: ../images/template-previews/home.png
-->
{# {% set template_css = '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' %} #}
{% extends "./layouts/base-standard.html" %}

{% block body %}
  <main class="public">
    <div class="kungfu-dash" style="background-image: url({{ get_asset_url('zuju-theme/images/assets/kungfu-dash-game/bg.png') }})">
      <div class="container">
        <div class="form-dark text-center">
          <h2 class="kd-heading kd-heading--primary">
            {% if content.language.languageTag == "zh-cn" %}
            功夫快跳
            {% else %}
            Kungfu Dash
            {% endif %}
          </h2>

          <h3 class="kd-heading">
            {% if content.language.languageTag == "zh-cn" %}
            玩游戏获得与C罗近距离接触的机会，在线上与C罗见面！
            {% else %}
            Play to win a chance to meet Cristiano Ronaldo online!
            {% endif %}
          </h3>

          <p>
            {% if content.language.languageTag == "zh-cn" %}
            <a href="{{ content_by_id(56505783586).absolute_url }}">阅读</a>游戏的规则。
            {% else %}
            Click <a href="{{ content_by_id(56505783586).absolute_url }}">here</a> to read how to the competition works.
            {% endif %}
          </p>

          {# Iframe wrapper #}
          <div class="kd-aspect-ratio">
            <div class="kd-game">
              <div class="container">
                {% dnd_area "draggable", class="kd-draggable" %}

                {% end_dnd_area %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock body %}