<!--
  templateType: page
  isAvailableForNewContent: true
  label: Members portal
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base-members.html" %}

{% block body %}
  {% set rewards = hubdb_table_rows('rewards', 'limit=3') %}

  <div class="content-wrapper">
    <section class="title-section">
      <h2 class="page-title">{{ content.title }}</h2>
    </section>

    <section class="content-area">
      <div class="main-content">
        <section class="tiles">
        <div class="tiles__single tiles__item daily-tasks">
          <div class="daily-tasks__inner">
            <h4 class="text-center">Daily Task</h4>
            <p class="text-center">Complete task and earn points</p>

            <ul class="list">
              <li>
                <label for="id-check-in">
                  <input
                    type="checkbox"
                    name="daily_check_in"
                    id="id-check-in"
                  />
                  Daily Check-in
                </label>
              </li>

              <li>
                <label for="id-share">
                  <input type="checkbox" name="share" id="id-share" />
                  Share a page on social media
                </label>
              </li>

                <li>
                <label for="id-easter-egg">
                  <input
                    type="checkbox"
                    name="find_easter_egg"
                    id="id-easter-egg"
                  />
                  <div>Find the Easter Egg</div>
                  <div class="pg">Progress <span class="pg__achieved"></span>/<span class="pg__max"><span></div>
                </label>
              </li>

              <li>
                <label for="id-comments">
                  <input
                    type="checkbox"
                    name="comments"
                    id="id-comments"
                  />
                  Leave 10 comments on articles
                </label>
              </li>
            </ul>

            <div class="progress wrap">
              <div class="progress__indicator">
                <span class="fs-sm">Progress:</span>
                <span class="clr-primary progress-indicator__cn">3</span
                >/<span class="progress-indicator__tg">4</span>
              </div>
            </div>
          </div>
        </div>

          <div class="tiles__item current-point text-center">
            <div>
              <h4>Current</h4>

              <div><b> {{ contact.current_loyalty_points }} </b> Zuju points</div>
            </div>
            <a href="#" class="button button--primary">More details</a>
          </div>
          <div class="tiles__item referral text-center">
            <div>
              <h4>Refer a Friend</h4>

              <div>And be rewarded</div>
            </div>
            <a href="#" class="button button--primary">More details</a>
          </div>
        </section>
        <!-- End of tiles -->

        <!-- Kungfu dash -->
        <h4 class="all-caps">Kungfu Dash</h4>
        <section class="kungfu-dash">
          <div class="kungfu-dash__cta">
            <img src="https://i.imgur.com/oGRwfKL.png" alt="" />
            <a href="#" class="button button--primary">Play Now</a>
          </div>

          <div class="kungfu-dash__check-in">
            <p>7 Days Daily Spent Bonus</p>

            <div class="timeline">
              <div class="timeline__point checked">
                <div class="timeline__dot"></div>
                Day 1
              </div>
              <div class="timeline__point checked">
                <div class="timeline__dot"></div>
                Day 2
              </div>
              <div class="timeline__point checked">
                <div class="timeline__dot"></div>
                Day 3
              </div>
              <div class="timeline__point">
                <div class="timeline__dot"></div>
                Day 4
              </div>
              <div class="timeline__point">
                <div class="timeline__dot"></div>
                Day 5
              </div>
              <div class="timeline__point">
                <div class="timeline__dot"></div>
                Day 6
              </div>
              <div class="timeline__point">
                <div class="timeline__dot"></div>
                Day 7
              </div>
            </div>

            <p>25 Days Daily Spent Bonus</p>

            <div class="continous">
              <div class="continous__item checked">
                Day <span>8</span>
              </div>
              <div class="continous__item checked">
                Day <span>9</span>
              </div>
              <div class="continous__item">Day <span>10</span></div>
              <div class="continous__item">Day <span>11</span></div>
              <div class="continous__item">Day <span>12</span></div>
            </div>
          </div>
        </section>

        <!-- Rewards -->
        <section class="rewards">
          <div class="dfl fl-j-sb fl-a-c">
            <h4 class="all-caps">Popular Rewards</h4>
            <a href="/rewards">View more</a>
          </div>
          <div class="grids">
            {% for reward in rewards %}
              <a href="/rewards/{{ reward.hs_path }}" class="card">
                <img src="{{ resize_image_url(reward.image.url, 280, 180, 200, true, true) }}" alt="" loading="lazy" width="280" height="180"/>
                <div class="card__content">
                  <div class="tag">{{ (reward.categories|first).name }}</div>
                  <h3 class="card__title">{{ reward.name }}</h3>
                  <div class="card__desc">{{ reward.content }}</div>
                  <div class="availability {{ reward.stock > 0 ? '' : 'clr-mute' }}">{{ reward.stock > 0 ? 'Available' : 'Fully Redeemed' }}</div>
                  <div class="points">
                    <b>{{ reward.point }}</b> <span class="fs-sm">Zuju points</span>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </section>
      </div>
    </section>
  </div>

{% endblock body %}
