<!--
  templateType: page
  isAvailableForNewContent: true
  label: Kungfu dash
  screenshotPath: ../images/template-previews/home.png
-->
{# {% set template_css = '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' %} #}
{% extends "./layouts/base-standard.html" %}

{{ require_css('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css', 'header') }}


{% block body %}
  <main class="public">
    <div class="kungfu-dash" style="background-image: url(https://i.imgur.com/d32YxC5.png)">
      <div class="container">
        <div class="form-dark text-center">
          <h2 class="kd-heading kd-heading--primary">Kungfu Dash</h2>

          <h3 class="kd-heading">Play to win a chance to meet Cristiano Ronaldo up close & personal on Zoom!</h3>

          <p>Here's how to the competition works:</p>

          <div class="kd-grid">
            <div class="kd-card">
              <img src="https://i.imgur.com/XSBuA9y.png" alt="">
              <p>Play to earn the highest score on Kungfu Dash</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/VWmKPKh.png" alt="">
              <p><b>High score dashers</b> earn the honour of a place on the leaderboard</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/P21F4t7.png" alt="">
              <p>Everyone on the leaderboard gets entered into the Leaderboard Raffle</p>
            </div>

            <div class="kd-card">
              <img src="https://i.imgur.com/Junatax.png" alt="">
              <p>For 8 weeks we will pick 1 lucky dasher from the Raffle to win this once-in-a-lifetime opportunity to meet <b>Cristiano Ronaldo</b>!</p>
            </div>
          </div>


          <p class="clr-primary text-center all-caps">Competition closes on 12 December 2021 at 2359 GMT.</p>
        </div>
      </div>
    </div>

    {# Iframe wrapper #}
    <div class="kd-aspect-ratio">
      <div class="kd-game">
        <div class="container">
          {% dnd_area "draggable", class="kd-draggable" %}

          {% end_dnd_area %}
        </div>
      </div>
    </div>
  </main>
{% endblock body %}

{{ require_js('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js', 'footer' ) }}
{% require_js 'my_require_js' position='footer' %}
  <script>
    $(window).on('load resize orientationchange', function() {
      $('.kd-grid').each(function() {
        var $carousel = $(this);
          /* Initializes a slick carousel only on mobile screens */
          // slick on mobile
          if ($(window).width() > 768) {
            if ($carousel.hasClass('slick-initialized')) {
              $carousel.slick('unslick');
            }
          } else {
             if (!$carousel.hasClass('slick-initialized')) {
               $carousel.slick({
                 slidesToShow: 1,
                 slidesToScroll: 1,
                 mobileFirst: true,
                 infinite: true,
                 arrows: false
              });
            }
          }
      });
    });

  </script>
{% end_require_js %}