<!--
  templateType: page
  isAvailableForNewContent: true
  label: Members Profile
-->
{% extends "./layouts/base-members.html" %}
{% import 'zuju-theme/macros/tags.html' as c %}

{% block body %}
  <style>
    #hs_cos_wrapper_profile_title {
      display: none;
    }
  </style>

  <section class="content-area">
    <div class="main-content">
      <section class="edit">

        <div class="scrollable">
          <div class="tabs">
            <div class="tabs__menu active" data-tab="content-profile">{{ currLang == 'zh-cn' ? '个人资料' : 'User Profile' }}</div>
            <div class="tabs__menu" data-tab="content-account">{{ currLang == 'zh-cn' ? '账户' : 'Account' }}</div>
          </div>
        </div>

        <div id="content-profile" class="tab-content active">
          <div class="avatar-edit">
            {{ c.avatar() }}
          </div>
          {% form "profile" form_to_use='48fa9bbb-c0d8-4996-a45e-de28f83f227a' %}
        </div>

        <div id="content-account" class="tab-content">
          <div class="separator">{{ currLang == 'zh-cn' ? '账户偏好' : 'Account preferences' }}</div>

          {# <div class="account__email">
            <div>
              <div class="all-caps">Email address</div>
              <div>Samantha@gmail.com</div>
            </div>

            <div>
              <button class="button button--o-primary">Change</button>
            </div>
          </div> #}

          <div class="account__password">
            <div>
              <div class="all-caps">{{ currLang == 'zh-cn' ? '账户密码' : 'Password' }}</div>
            </div>

            <div>
              <a href="https://www.zujugp.com/_hcms/mem/reset/request" class="button button--o-primary">
                {{ currLang == 'zh-cn' ? '更改密码' : 'Change' }}
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <script>
    var contact = JSON.parse(`{{ contact|tojson }}`)
  </script>

{% endblock body %}

{{ require_js(get_asset_url('zuju-theme/js/pages/profile.js'), 'footer')}}
