  <!--<div
       class="max-w-[1440px] flex flex-col items-center justify-center bg-center sm:bg-contain lg:bg-cover bg-no-repeat mx-auto sm:px-8 py-24"
       style="background-image: url(https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-effect.png)"
       x-data="parallax()"
       x-bind="root"
       >-->
    <div
       class="max-w-[1440px] flex flex-col items-center justify-center bg-center sm:bg-contain lg:bg-cover bg-no-repeat mx-auto sm:px-8 py-24"
       style="background-image: url({{ module.backgroud_image.src }})"
       x-data="parallax()"
       x-bind="root"
       >
    
    <div class="sm:w-full sm:max-w-md">
      {#
      {% if content.language.languageTag == "zh-cn" %}
      <img class="lg:w-96 mb-8" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-heading-cn.gif" title="Highly Immersive" alt="Highly Immersive" x-bind="animate(8)" />
      {% else %}
      <img class="lg:w-96 mb-8" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/gameplay-heading.gif" title="Highly Immersive" alt="Highly Immersive" x-bind="animate(8)" />
      {% endif %}
      #}
      <img class="lg:w-96 mb-8" src="{{ module.moving_image.src }}" title="Highly Immersive" alt="Highly Immersive" x-bind="animate(8)" />
    </div>
    <p class="lg:w-1/2 text-white lg:text-center sm:mb-16 lg:mb-24">
      {#
      {% if content.language.languageTag == "zh-cn" %}
      蹴蹴游戏空间可以在内容、数据和数字资产间向您提供前所未有的交互模式，它由数以万计的创造者和经营者贡献的宝贵经验而组成 - 从个人到非正式组织，再到企业和品牌。每个人都可以参与其中，每个人也都从中受益，每个人都会最终成为蹴蹴游戏愿景中的一部分。
      {% else %}
      ZujuGamePlay will offer unprecedented interoperability between content, data and digital assets, framed by experiences created and operated by a wide
      range of contributors - from individuals to informally organised groups to brands and enterprises. Everyone can participate. Everyone can benefit. And
      everyone can be a part of building out the vision that is ZujuGamePlay.
      {% endif %}
      #}
      {{ module.description }}
    </p>
    <h2 class="text-zuju-red sm:text-4xl lg:text-5xl font-gtcond font-black" x-bind="animate(4)">
      {#
        {% if content.language.languageTag == "zh-cn" %}
        查看所有文章
        {% else %}
        Coming soon.
        {% endif %}
      #}
      {{ module.small_text }}
    </h2>