 <section class="sm:hidden">
  <div
    class="h-[calc(100vh-var(--nav-height))] min-h-[600px] max-w-[1920px] mx-auto grid sm:grid-cols-1 sm:grid-rows-1 lg:grid-cols-4 lg:grid-rows-2"
  >
    <article class="relative flex items-end lg:col-span-2 lg:row-span-2">
      <a href="{{ module.main_tiles.cta_url }}">
        <div class="absolute inset-0 bg-black">
          <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-verse.jpg" />
        </div>
        <div class="relative w-full p-4">
          <h1 class="lg:text-6xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
            {{ module.main_tiles.title }}
          </h1>
          <p class="relative text-trueGray-200 sm:text-sm pr-12">
            {{ module.main_tiles.cta_text }}
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M268 112l144 144-144 144M392 256H100"
              ></path>
            </svg>
          </p>
        </div>
      </a>
    </article>
    <article class="relative flex items-end h-full lg:col-span-2">
      <a href="/kungfu-dash">
        <div class="absolute inset-0 bg-black">
          <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-kfd-banner.jpg" />
        </div>
        <div class="relative w-full p-4">
          <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
            {% if content.language.languageTag == "zh-cn" %}
              功夫快跳 &amp; 赢得游戏
            {% else %}
              Kungfu Dash &amp; Win
            {% endif %}
          </h1>
          <p class="relative text-trueGray-200 sm:text-sm pr-12">
            {% if content.language.languageTag == "zh-cn" %}
              开始游戏，可以赢得和C罗在线上见面的机会
            {% else %}
              Play to win a chance to meet Cristiano Ronaldo online
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M268 112l144 144-144 144M392 256H100"
              ></path>
            </svg>
          </p>
        </div>
      </a>
    </article>
    <article class="relative flex items-end">
      <a href="https://shop.zujugp.com">
        <div class="absolute inset-0 bg-black">
          <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-shop.jpg" />
        </div>
        <div class="relative w-full p-4">
          <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
            {% if content.language.languageTag == "zh-cn" %}
              进入商城
            {% else %}
              Shop Megastore
            {% endif %}
          </h1>
          <p class="relative text-trueGray-200 sm:text-sm pr-12">
            {% if content.language.languageTag == "zh-cn" %}
              购买限量款产品
            {% else %}
              Limited edition items only
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M268 112l144 144-144 144M392 256H100"
              ></path>
            </svg>
          </p>
        </div>
      </a>
    </article>
    <article class="relative flex items-end">
      <a href="{{ content_by_id(56334347298).absolute_url }}">
        <div class="absolute inset-0 bg-black">
          <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-2.png" />
        </div>
        <div class="relative w-full p-4">
          <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
            {% if content.language.languageTag == "zh-cn" %}
              C罗 X 变脸
            {% else %}
              Ronaldo X Bian Lian
            {% endif %}
          </h1>
          <p class="relative text-trueGray-200 sm:text-sm pr-12">
            {% if content.language.languageTag == "zh-cn" %}
              足球史上第一位变脸侠
            {% else %}
              Football's first mask changing 变脸 WARRIOR
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
              <title>Arrow Forward</title>
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="48"
                d="M268 112l144 144-144 144M392 256H100"
              ></path>
            </svg>
          </p>
        </div>
      </a>
    </article>
  </div>
</section>
<section class="lg:hidden">
  <div class="aspect-w-4 aspect-h-3">
    <div>
      <article class="relative flex items-end h-full lg:col-span-2 lg:row-span-2">
        <a href="/about-us">
          <div class="absolute inset-0 bg-black">
            <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-verse.jpg" />
          </div>
          <div class="relative w-full p-4">
            <h1 class="lg:text-6xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
              {% if content.language.languageTag == "zh-cn" %}
                进入蹴蹴足球世界
              {% else %}
                Enter the ZujuGP footballverse
              {% endif %}
            </h1>
            <p class="relative text-trueGray-200 sm:text-sm pr-12">
              {% if content.language.languageTag == "zh-cn" %}
                #重新定义足球的未来 – 最棒的数字化体验与全新机会
              {% else %}
                #WritingTheFutureOfFootball - The best new digital experiences and opportunities
              {% endif %}
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                <title>Arrow Forward</title>
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="48"
                  d="M268 112l144 144-144 144M392 256H100"
                ></path>
              </svg>
            </p>
          </div>
        </a>
      </article>
    </div>
  </div>
  <div class="glide" x-data="{}" x-init="new Glide($el).mount()">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
  <div class="glide__slide">
          <div class="aspect-w-4 aspect-h-3">
            <div>
              <article class="relative flex items-end h-full">
                <a href="/kungfu-dash">
                  <div class="absolute inset-0 bg-black">
                    <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-kfd-banner.jpg" />
                  </div>
                  <div class="relative w-full p-4">
                    <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                      {% if content.language.languageTag == "zh-cn" %}
                        功夫快跳 &amp; 赢得游戏
                      {% else %}
                        Kungfu Dash &amp; Win
                      {% endif %}
                    </h1>
                    <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                      {% if content.language.languageTag == "zh-cn" %}
                        开始游戏，可以赢得和C罗在线上见面的机会
                      {% else %}
                        Play to win a chance to meet Cristiano Ronaldo online
                      {% endif %}
                      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                        <title>Arrow Forward</title>
                        <path
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="48"
                          d="M268 112l144 144-144 144M392 256H100"
                        ></path>
                      </svg>
                    </p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
        <div class="glide__slide">
          <div class="aspect-w-4 aspect-h-3">
            <div>
              <article class="relative flex items-end h-full">
                <a href="https://shop.zujugp.com">
                  <div class="absolute inset-0 bg-black">
                    <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-shop.jpg" />
                  </div>
                  <div class="relative w-full p-4">
                    <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                      {% if content.language.languageTag == "zh-cn" %}
                        进入商城
                      {% else %}
                        Shop Megastore
                      {% endif %}
                    </h1>
                    <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                      {% if content.language.languageTag == "zh-cn" %}
                        购买限量款产品
                      {% else %}
                        Limited edition items only
                      {% endif %}
                      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                        <title>Arrow Forward</title>
                        <path
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="48"
                          d="M268 112l144 144-144 144M392 256H100"
                        ></path>
                      </svg>
                    </p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
        <div class="glide__slide">
          <div class="aspect-w-4 aspect-h-3">
            <div>
              <article class="relative flex items-end h-full">
                <a href="{{ content_by_id(56334347298).absolute_url }}">
                  <div class="absolute inset-0 bg-black">
                    <img class="opacity-50 h-full w-full object-cover" src="https://f.hubspotusercontent20.net/hubfs/20618228/statics/assets/home-2.png" />
                  </div>
                  <div class="relative w-full p-4">
                    <h1 class="lg:text-4xl sm:text-3xl font-gtcond font-black text-white sm:mb-2 lg:mb-4">
                      {% if content.language.languageTag == "zh-cn" %}
                        C罗 X 变脸
                      {% else %}
                        Ronaldo X Bian Lian
                      {% endif %}
                    </h1>
                    <p class="relative text-trueGray-200 sm:text-sm pb-8 pr-12">
                      {% if content.language.languageTag == "zh-cn" %}
                        足球史上第一位变脸侠
                      {% else %}
                        Football's first mask changing 变脸 WARRIOR
                      {% endif %}
                      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon absolute right-0 bottom-0 h-6 w-6 text-zuju-red" viewBox="0 0 512 512">
                        <title>Arrow Forward</title>
                        <path
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="48"
                          d="M268 112l144 144-144 144M392 256H100"
                        ></path>
                      </svg>
                    </p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pl-4 pb-4 glide__bullets left-0 bottom-1 translate-x-[-4px]" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
      <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
  </div>
</section>